<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/1daycom.jpeg" alt="#1Day.com" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/travancore/1day">#1Day.com</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="09-02-22">09th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            #1Day.com was a movie rescripting competition conducted by IEEE Travancore Hub as a
                            part of World Movie Day. The event aimed at testing the writing and the imagination
                            skills of the participants.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/1day">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/bcc.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/BCC">Branch Counselors and Chapter Advisors
                            Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">12th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub organized the first Student Branch Counselors and Chapter Advisors
                            meet on 12 February 2022 . It was held at 10:00 AM via Zoom Cloud Meetings. The
                            respective SB Counselors and Advisors from various colleges under Malabar Hub
                            participated and remarked on their presence to enrich the event. The session was
                            inaugurated by Dr. Sabiq PV, Chair, IEEE Malabar Subsection, with his inaugural
                            address and providing an overview of MSS Activities.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/malabar/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/bcc1.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/travancore/BCC">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">12th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Travancore Hub Branch Counselors and Chapter Advisors Meet was conducted on 12th
                            February, 2022 from 3:00 - 05:00 PM via Zoom Cloud Meeting. The meetup aims at
                            bringing together all the counselors and advisors under the hub and providing them
                            with a platform to share ideas and events being carried out in their respective
                            institutes.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/bcc.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Branch Counsellors and Chapter Advisors Congress of IEEE Kochi Hub was conducted
                            on 13th February 2022. The meeting started at 3 pm. After the initial welcome
                            address by the MC, there was a call of order where the 44 SBs under Kochi Hub was
                            called out and the Branch Counsellors or Chapter Advisors present there from the
                            respective colleges introduced themselves. After the call of order, Dr. M V Rajesh,
                            the Kochi Sub-section Chair gave the inaugural address and a briefing on Kochi
                            Sub-section.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/empower_img1.jpeg" alt="EMPOWER" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/empower">EMPOWER</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Empower was an inspiring panel discussion conducted by IEEE Kochi Hub in
                            Collaboration with Women in Engineering where eminent women in STEM came together to
                            discuss about their inspirit journey and knowledge they gained over the years. The
                            event was organized on an online platform via WebEx at 13th of February 2022, 7 PM
                            IST.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/empower">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/deep_dive.jpeg" alt="Deep Dive" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/DeepDive">Deep Dive - A panel discussion on exploring
                            IEEE opportunities</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="19-02-22">19th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub in association with the IEEE Membership development committee of
                            the Kerala section organized the panel discussion DEEP DIVE on 19 February 2022. It
                            was held at 7:00 PM via Zoom Cloud Meetings. The session was intended to give an
                            insight into the importance of being active in IEEE, how it contributes to the
                            professional development of members and their benefits. The event kick-started with
                            a welcome note from Ms. Aleena K Shibu, Membership development coordinator, IEEE
                            Malabar Hub. Followed by that, she asked the speakers about their journey as an IEEE
                            member and their interest in renewing their membership over the years.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/malabar/DeepDive">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/inkit.jpeg" alt="INK IT" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/InkIt">INK IT</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="03-03-22">03rd March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi hub, in collaboration with IEEE WiE AG Kerala Section, conducted an
                            Online Article Writing Competition 'INK IT' as part of International Women's Day
                            2022 exclusively for IEEE Members. The topic for the competition was ' Is the cyber
                            world unsafe for women? '. The competition was conducted via google forms in which
                            the participants were requested to submit their entries. The event saw some exciting
                            entries and the winners were provided with Achievement certificates.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/InkIt">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/WiEsonaries.jpeg" alt="WiEsonariess" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/WiEsonaries">WiEsonariess</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">06th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            As part of International Women’s Day, IEEE WiE Malabar Hub, in association with WiE
                            Kerala AG conducted a JAM competition on the topic ‘The rise of women is not about
                            the fall of men.’
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/malabar/WiEsonaries">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/ChairsMeet.jpeg" alt="IEEE Malabar Hub Chair’s Meet 2022" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/ChairsMeet">IEEE Malabar Hub Chair’s Meet 2022</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="07-03-22">07th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub organized the Chair’s meet on 7 March 2022. It was held at 7 PM via
                            Google Meet.
                            Our new Chair’s of respective SBs and some previous chairs and the coordinators of
                            Malabar Hub participated and remarked on their presence to enrich the event.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/malabar/ChairsMeet">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/mystifier.jpeg" alt="Mystifier" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/travancore/Mystifier">Mystifier</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="07-03-22">07th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            On behalf of International women’s Day, IEEE WIE travancore hub in association with
                            WIE Kerala AG conducted a crossword puzzle competition on the topic Women in
                            Technology on 7th March 2022.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/Mystifier">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/qupiz.jpeg" alt="QUPIZ" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/qupiz">QUPIZ</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-03-22">13th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi Hub in collaboration with IEEE Kochi Subsection organized a quiz
                            competition to celebrate International Pi day. The event was organized on 13th March
                            2022 through the online platform Kahoot.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/qupiz">Read More</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->