<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://ieee-mint.org/">MINT</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="#">IEEE Kerala Section Interns</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://yp.ieeekerala.org/">IEEE Kerala Section YP</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://students.ieee.org/">IEEE Students</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://ieeekerala.org/">IEEE Kerala Section</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://site.ieee.org/indiacouncil/">IEEE India Council</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://www.ieeer10.org/">IEEE Region 10</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="https://www.ieee.org/">IEEE</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Pulimoodu,
                        <br />
                        Thiruvananthapuram, <br />
                        Kerala, India
                        <br /><br />
                        <strong>Phone:</strong>
                        +91 0471 247 3515<br />
                        <strong>Email:</strong>
                        team@ieee-link.org<br />
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About IEEE LINK</h3>
                    <p>IEEE LINK is an innovative concept that originated in IEEE Kerala Section in India, aimed at
                        networking student branches in an effective way thereby increasing the value in IEEE student
                        membership.</p>
                    <div class="social-links mt-3">
                        <a href="http://facebook.com/ieeelink" class="facebook" target="_blank"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="http://instagram.com/ieeelink" class="instagram" target="_blank"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="http://linkedin.com/company/ieeelink" class="linkedin" target="_blank"><i
                                class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <strong><span>IEEE Kerala Section</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Made with 🤍 by
            <strong>LINK Team</strong>
        </div>
    </div>
</footer>