<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://ieee-mint.org/">IEEE LINK</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://www.ieeesbtkmce.in/">IEEE SB TKM CE</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://ieeekerala.org/">IEEE Kerala Section</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://site.ieee.org/indiacouncil/">IEEE India Council</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://www.ieeer10.org/">IEEE Region 10</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="https://www.ieee.org/">IEEE</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="">Terms & Conditions</a>
                        </li>
                        <li>
                            <i class="ico" data-feather="chevron-right"></i>
                            <a href="">Cancellation/Refund Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Phone:</strong>
                        +91 9656177426<br />
                        <strong>Phone:</strong>
                        +91 6238703599<br />
                        <strong>Email:</strong>
                        team@ieee-link.org<br />
                    </p>
                </div>           

            </div>
        </div>
    </div>
    <div class="container">
        <div class="credits row flex-column-reverse flex-md-row">
            <div class="text col-sm-12 col-md-6 order-md-12">
                <div class="copyright">
                    Copyright &copy; 2023 <strong><span>IEEE LINK</span></strong>. All Rights Reserved
                </div>
                <div class="copyright">
                    Made with 🤍 by
                    <a href="" target="_blank">IEEE LINK</a> 

                </div>
            </div>
            <div class="social-links col-12 col-md-6 order-md-1">
                <a href="https://ieee-link.org/" target="_blank" class="link"><i class="ico"
                        data-feather="link"></i></a>
                <a href="https://www.linkedin.com/company/ieeelink/" target="_blank" class="linkedin"><i class="ico"
                        data-feather="linkedin"></i></a>
                <a href="https://www.instagram.com/ieeelink/" target="_blank" class="instagram"><i class="ico"
                        data-feather="instagram"></i></a>
            </div>
        </div>
    </div>
</footer>