<div class="col-lg-4">

    <div class="sidebar" data-aos="fade-left">

        <h3 class="sidebar-title">Categories</h3>
        <div class="sidebar-item categories">
            <ul>
                <li><a href="/events/link/">Link<span>17</span></a></li>
                <li><a href="/events/malabar/">Malabar Hub <span>(4)</span></a></li>
                <li><a href="/events/kochi/">Kochi Hub <span>(4)</span></a></li>
                <li><a href="/events/travancore/">Travancore Hub <span>({{eventList.TravancoreHubEvents.length}})</span></a></li>
            </ul>
        </div>

        <h3 class="sidebar-title">Latest Updates</h3>
<!--        <div class="sidebar-item recent-posts">-->

<!--            <div class="post-item clearfix">-->
<!--                <img src="/assets/images/events/LINK/Cybosium/Reg live.jpg" alt="">-->
<!--                <h4><a href="https://cybosium.ieeemace.org/">Cybosium</a></h4>-->
<!--               <time datetime="01-05-23">1st May, 2023</time>-->
<!--            </div>-->

<!--        </div>-->

        <h3 class="sidebar-title">Tags</h3>
        <div class="sidebar-item tags">
            <ul>
                <li><a href="/events/link/">Link</a></li>
                <li><a href="/events/malabar/">Malabar</a></li>
                <li><a href="/events/kochi/">Kochi</a></li>
                <li><a href="/events/travancore/">Travancore</a></li>
            </ul>
        </div>

    </div>

</div>