<div class="container">
    <section id="execom-training">

        <div class="rqst">

            <form
                action="https://docs.google.com/forms/d/e/1FAIpQLSfMv2RdUA_hXM5uNtKMf79QYFGB_355hYE5SNZVjwz8WhAziQ/formResponse"
                target="_self" method="POST">

                <div class="form-section">
                    <h2>Student Branch Details</h2>
                    <!-- Field type: "dropdown" id: "89787198" -->
                    <div class="form-group form-main-group">
                        <label for="89787198">Student Branch Name</label>
                        <div class="form-group">
                            <select id="89787198" name="entry.1824999610" class="form-control" required>
                                <option disabled selected value> -- select a student branch -- </option>
                                <option value="Adi Shankara Inst of Engineering &amp; Tech">Adi Shankara Inst of
                                    Engineering &amp;
                                    Tech</option>
                                <option value="Ahalia School of Engineering &amp; Technology">Ahalia School of
                                    Engineering &amp;
                                    Technology</option>
                                <option value="Al-Ameen Engineering College">Al-Ameen Engineering College</option>
                                <option value="Albertian Institute of Science and Technology">Albertian Institute of
                                    Science and
                                    Technology</option>
                                <option value="Amal Jyothi College Of Engineering">Amal Jyothi College Of
                                    Engineering</option>
                                <option value="Amrita Vishwa Vidyapeetham">Amrita Vishwa Vidyapeetham</option>
                                <option value="Aryanet Institute of Technology AIT">Aryanet Institute of Technology
                                    AIT</option>
                                <option value="AWH Engineering College">AWH Engineering College</option>
                                <option value="Baselios Mathews II College of Engineering">Baselios Mathews II
                                    College of
                                    Engineering</option>
                                <option value="Bishop Jerome Institute">Bishop Jerome Institute</option>
                                <option value="Caarmel Engineering College">Caarmel Engineering College</option>
                                <option value="Central University of Kerala">Central University of Kerala</option>
                                <option value="Chengannur College of Engineering">Chengannur College of Engineering
                                </option>
                                <option value="Christ College of Engineering Irinjalakuda">Christ College of
                                    Engineering
                                    Irinjalakuda</option>
                                <option value="Cochin Univ of Science &amp; Tech">Cochin Univ of Science &amp; Tech
                                </option>
                                <option value="College of Eng-Thalassery">College of Eng-Thalassery</option>
                                <option value="College of Eng, Thodupuzha/Mahathma Gandhi Univ">College of Eng,
                                    Thodupuzha/Mahathma
                                    Gandhi Univ</option>
                                <option value="College of Engineering - Attingal">College of Engineering - Attingal
                                </option>
                                <option value="College of Engineering - Karunagappally">College of Engineering -
                                    Karunagappally
                                </option>
                                <option value="College of Engineering - Kottarakkara">College of Engineering -
                                    Kottarakkara</option>
                                <option value="College of Engineering Adoor">College of Engineering Adoor</option>
                                <option value="College of Engineering and Management Punnapra">College of
                                    Engineering and Management
                                    Punnapra</option>
                                <option value="College of Engineering Aranmula">College of Engineering Aranmula
                                </option>
                                <option value="College of Engineering Pathanapuram">College of Engineering
                                    Pathanapuram</option>
                                <option value="College of Engineering Trikaripur">College of Engineering Trikaripur
                                </option>
                                <option value="College of Engineering Vadakara">College of Engineering Vadakara
                                </option>
                                <option value="College of Engineering-Kallooppara">College of
                                    Engineering-Kallooppara</option>
                                <option value="College of Engineering-Kidangoor">College of Engineering-Kidangoor
                                </option>
                                <option value="College of Engineering-Munnar">College of Engineering-Munnar</option>
                                <option value="College of Engineering-Perumon">College of Engineering-Perumon
                                </option>
                                <option value="College Of Engineering-Poonjar">College Of Engineering-Poonjar
                                </option>
                                <option value="College of Engineering, Cherthala">College of Engineering, Cherthala
                                </option>
                                <option value="Federal Inst of Science &amp; Tech">Federal Inst of Science &amp;
                                    Tech</option>
                                <option value="Government College of Engineering - Kannur">Government College of
                                    Engineering -
                                    Kannur</option>
                                <option value="Government Engineering College - Barton Hill">Government Engineering
                                    College - Barton
                                    Hill</option>
                                <option value="Government Engineering College - Kozhikode">Government Engineering
                                    College -
                                    Kozhikode</option>
                                <option value="Government Engineering College-Idukki">Government Engineering
                                    College-Idukki</option>
                                <option value="Government Engineering College-Sreekrishnapuram">Government
                                    Engineering
                                    College-Sreekrishnapuram</option>
                                <option value="Government Engineering College-Thrissur">Government Engineering
                                    College-Thrissur
                                </option>
                                <option value="Government Engineering College-Wayanad">Government Engineering
                                    College-Wayanad
                                </option>
                                <option value="Heera College of Engineering and Technology">Heera College of
                                    Engineering and
                                    Technology</option>
                                <option value="IES College of Engineering">IES College of Engineering</option>
                                <option value="Ilahia College of Engineering and Technology">Ilahia College of
                                    Engineering and
                                    Technology</option>
                                <option value="Indian Inst of Science Education &amp; Research TVM">Indian Inst of
                                    Science Education
                                    &amp; Research TVM</option>
                                <option value="Indian Inst of Space Science &amp; Tech">Indian Inst of Space Science
                                    &amp; Tech
                                </option>
                                <option value="Indian Institute of Information Tech Kottayam">Indian Institute of
                                    Information Tech
                                    Kottayam</option>
                                <option value="Jawaharlal College of Engineering and Technology">Jawaharlal College
                                    of Engineering
                                    and Technology</option>
                                <option value="John Cox Memorial CSI Institute of Technology">John Cox Memorial CSI
                                    Institute of
                                    Technology</option>
                                <option value="Jyothi Engineering College - THRISSUR">Jyothi Engineering College -
                                    THRISSUR</option>
                                <option value="K M C T College of Engineering">K M C T College of Engineering
                                </option>
                                <option value="KMEA Engineering College">KMEA Engineering College</option>
                                <option value="LBS College of Engineering">LBS College of Engineering</option>
                                <option value="LBS Institute of Technology for Women">LBS Institute of Technology
                                    for Women</option>
                                <option value="Lourdes Matha Coll of Science &amp; Tech">Lourdes Matha Coll of
                                    Science &amp; Tech
                                </option>
                                <option value="Malabar College of Eng &amp; Tech">Malabar College of Eng &amp; Tech
                                </option>
                                <option value="Mangalam College of Engineering">Mangalam College of Engineering
                                </option>
                                <option value="Mar Athanasius College of Engrg">Mar Athanasius College of Engrg
                                </option>
                                <option value="Mar Baselios Christian College of Engg &amp; Tech">Mar Baselios
                                    Christian College of
                                    Engg &amp; Tech</option>
                                <option value="Mar Baselios College of Eng &amp; Tech">Mar Baselios College of Eng
                                    &amp; Tech
                                </option>
                                <option value="Marian Engineering College">Marian Engineering College</option>
                                <option value="MEA Engineering College - Perinthalmanna">MEA Engineering College -
                                    Perinthalmanna
                                </option>
                                <option value="MES College of Engineering - Kuttippuram">MES College of Engineering
                                    - Kuttippuram
                                </option>
                                <option value="Model Engineering College">Model Engineering College</option>
                                <option value="Mohandas College of Engineering &amp; Tech">Mohandas College of
                                    Engineering &amp;
                                    Tech</option>
                                <option value="Mount Zion College of Engineering">Mount Zion College of Engineering
                                </option>
                                <option value="Musaliar College of Engineering &amp; Technology">Musaliar College of
                                    Engineering
                                    &amp; Technology</option>
                                <option value="Musaliar College of Engineering Chirayinkeezhu">Musaliar College of
                                    Engineering
                                    Chirayinkeezhu</option>
                                <option value="Muslim Assoc Coll of Eng Venjaramood">Muslim Assoc Coll of Eng
                                    Venjaramood</option>
                                <option value="Muthoot Institute of Technology and Science">Muthoot Institute of
                                    Technology and
                                    Science</option>
                                <option value="National Institute of Electronics &amp; IT Calicut">National
                                    Institute of Electronics
                                    &amp; IT Calicut</option>
                                <option value="National Institute of Technology Calicut">National Institute of
                                    Technology Calicut
                                </option>
                                <option value="Nehru Coll of Eng &amp; Research Centre">Nehru Coll of Eng &amp;
                                    Research Centre
                                </option>
                                <option value="NSS College Of Engineering">NSS College Of Engineering</option>
                                <option value="P A Aziz College of Engineering &amp; Tech">P A Aziz College of
                                    Engineering &amp;
                                    Tech</option>
                                <option value="Providence College of Engineering">Providence College of Engineering
                                </option>
                                <option value="Rajadhani Inst of Science and Technology, Palakkad">Rajadhani Inst of
                                    Science and
                                    Technology, Palakkad</option>
                                <option value="Rajadhani Institute of Engineering and Technology">Rajadhani
                                    Institute of Engineering
                                    and Technology</option>
                                <option value="Rajagiri School Of Engineering &amp; Tech">Rajagiri School Of
                                    Engineering &amp; Tech
                                </option>
                                <option value="Rajiv Gandhi Institute of Technology Kottayam">Rajiv Gandhi Institute
                                    of Technology
                                    Kottayam</option>
                                <option value="Royal College of Eng &amp; Tech-Akkikkavu">Royal College of Eng &amp;
                                    Tech-Akkikkavu
                                </option>
                                <option value="Sahrdaya College of Engineering &amp; Tech - Thrissur">Sahrdaya
                                    College of
                                    Engineering &amp; Tech - Thrissur</option>
                                <option value="Saintgits College of Engineering - KOTTAYAM">Saintgits College of
                                    Engineering -
                                    KOTTAYAM</option>
                                <option value="Sarabhai Institute of Science and Tech">Sarabhai Institute of Science
                                    and Tech
                                </option>
                                <option value="SCMS School of Engineering &amp; Tech">SCMS School of Engineering
                                    &amp; Tech</option>
                                <option value="Sree Buddha College of Engineering">Sree Buddha College of
                                    Engineering</option>
                                <option value="Sree Chitra Thirunal College of Eng">Sree Chitra Thirunal College of
                                    Eng</option>
                                <option value="Sree Naranyana Gurukulam College of Eng">Sree Naranyana Gurukulam
                                    College of Eng
                                </option>
                                <option value="Sreepathy Institute of Management &amp; Technology">Sreepathy
                                    Institute of Management
                                    &amp; Technology</option>
                                <option value="St Joseph&#x27;s College Of Eng &amp; Tech-Palai">St Joseph&#x27;s
                                    College Of Eng
                                    &amp; Tech-Palai</option>
                                <option value="St. Thomas College of Engg and Tech-Chengannur">St. Thomas College of
                                    Engg and
                                    Tech-Chengannur</option>
                                <option value="Thangal Kunju Musaliar Institute of Technology">Thangal Kunju
                                    Musaliar Institute of
                                    Technology</option>
                                <option value="Thejus Engineering College">Thejus Engineering College</option>
                                <option value="TKM College of Engineering">TKM College of Engineering</option>
                                <option value="Toc H Institute of Science and Technology">Toc H Institute of Science
                                    and Technology
                                </option>
                                <option value="Trivandrum College of Engineering">Trivandrum College of Engineering
                                </option>
                                <option value="UKF College of Engineering and Technology">UKF College of Engineering
                                    and Technology
                                </option>
                                <option value="University College of Engineering Kariavattom">University College of
                                    Engineering
                                    Kariavattom</option>
                                <option value="University of Kerala">University of Kerala</option>
                                <option value="Vidya Academy of Sci &amp; Tech Technical Campus">Vidya Academy of
                                    Sci &amp; Tech
                                    Technical Campus</option>
                                <option value="Vidya Academy of Science &amp; Tech">Vidya Academy of Science &amp;
                                    Tech</option>
                                <option value="Vimal Jyothi Eng College-Kannur">Vimal Jyothi Eng College-Kannur
                                </option>
                                <option value="Viswajyothi College Of Eng &amp; Tech">Viswajyothi College Of Eng
                                    &amp; Tech</option>
                                <option value="Younus College of Engineering &amp; Technology">Younus College of
                                    Engineering &amp;
                                    Technology</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "1902361423" -->
                    <div class="form-group form-main-group">
                        <label for="1902361423">If other, enter the name of your college (Full name not
                            abbreviation)</label>
                        <div class="form-group">
                            <input id="1983235803" type="text" name="entry.1983235803" class="form-control">
                        </div>
                    </div>


                    <!-- Field type: "choices" id: "772909409" -->
                    <div class="form-group form-main-group">
                        <label for="772909409">Hub</label>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input class="form-check-input" type="radio" name="entry.1733598838"
                                        value="Malabar Hub" required>
                                    Malabar Hub
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="form-check-input" type="radio" name="entry.1733598838"
                                        value="Kochi Hub" required>
                                    Kochi Hub
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="form-check-input" type="radio" name="entry.1733598838"
                                        value="Travancore Hub" required>
                                    Travancore Hub
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <!-- Field type: "section" id: "648303522" -->
                    <!-- <div class="form-group form-main-group">
                            <label for="648303522">Branch Counselor Details</label>
                            <div class="form-group">
                            </div>
                        </div> -->
                    <h2>Branch Counselor Details</h2>


                    <!-- Field type: "short" id: "1608999669" -->
                    <div class="form-group form-main-group">
                        <label for="1608999669">Name</label>
                        <div class="form-group">
                            <input id="1916665563" type="text" name="entry.1916665563" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "759877662" -->
                    <div class="form-group form-main-group">
                        <label for="759877662">Email ID</label>
                        <div class="form-group">
                            <input id="531979620" type="text" name="entry.531979620" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "251170498" -->
                    <div class="form-group form-main-group">
                        <label for="251170498">Contact Number</label>
                        <div class="form-group">
                            <input id="1231168688" type="text" name="entry.1231168688" class="form-control" required>
                        </div>
                    </div>

                    <h2>SB Chair Details</h2>

                    <!-- Field type: "section" id: "80963943" -->
                    <!-- <div class="form-group form-main-group">
                            <label for="80963943">SB Chair Details</label>
                            <div class="form-group">
                            </div>
                        </div> -->


                    <!-- Field type: "short" id: "224558217" -->
                    <div class="form-group form-main-group">
                        <label for="224558217">Name</label>
                        <div class="form-group">
                            <input id="1046710631" type="text" name="entry.1046710631" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "1840694576" -->
                    <div class="form-group form-main-group">
                        <label for="1840694576">Email ID</label>
                        <div class="form-group">
                            <input id="293274642" type="text" name="entry.293274642" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "303057029" -->
                    <div class="form-group form-main-group">
                        <label for="303057029">Contact Number</label>
                        <div class="form-group">
                            <input id="1569369146" type="text" name="entry.1569369146" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-section">

                    <h2>Meeting Details</h2>
                    <!-- Field type: "section" id: "1866860350" -->
                    <!-- <div class="form-group form-main-group">
                            <label for="1866860350">Meeting Details</label>
                            <div class="form-group">
                            </div>
                        </div> -->


                    <!-- Field type: "short" id: "1345253407" -->
                    <div class="form-group form-main-group">
                        <label for="1345253407">Expected No. of attendees</label>
                        <div class="form-group">
                            <input id="51960885" type="text" name="entry.51960885" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "date" id: "1473907388" -->
                    <div class="form-group form-main-group">
                        <label for="1473907388">Preferred Date (if any) </label>
                        <div class="form-group">
                            <input type="date" id="305904819_date" name="entry.305904819" placeholder="5/12/2022"
                                class="form-control" required>
                        </div>
                    </div>


                    <div class="form-main-group">
                        <!-- Field type: "section" id: "1328948168" -->
                        <!-- <div class="form-group">
                                <label for="1328948168">Consent</label>
                            </div> -->

                        <!-- Field type: "checkboxes" id: "888474258" -->
                        <div class="form-group">
                            <label for="888474258"></label>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="entry.1939255567" class="form-check-input"
                                            value="I hereby provide my consent to the organizers of the event to use the contact details provided in the form to contact me for updates regarding events conducted by the IEEE LINK Team."
                                            required>
                                        I hereby provide my consent to the organizers of the event to use the
                                        contact
                                        details provided
                                        in the form to contact me for updates regarding events conducted by the IEEE
                                        LINK Team.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-section">
                    <div class="form-main-group">
                        <input type="hidden" name="fvv" value="1">
                        <input type="hidden" name="fbzx" value="5993536884650482833">

                        <input type="hidden" name="pageHistory" value="0,1,2,3,4">

                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </form>

        </div>

    </section>
</div>