<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/bcc23.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/bcc23">Branch Counselors and Chapter Advisors Meet 2023</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="11-03-23">11th March 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Branch Counselors & Chapter Advisors Congress of 2023 was held on March 11th from 6:00 PM to 8:00 PM on the Google Meet platform, organized under IEEE Malabar Hub. The meeting was attended by student branch counselors from various SBs under the Malabar Hub. The event began with a welcome speech by Mr. Sreeram M, VSAC of Malabar Hub, who introduced the cluster-wise division of the student branches in the hub, created in consultation with the MSS. Following that, a self-introduction session was conducted for the SB counselors and Malabar Hub Student Leadership team. Prof. Muhammed Kasim, Chair of IEEE Kerala Section, delivered the inaugural address, emphasizing the importance of membership development. Dr. Bindima T, Chair of IEEE Malabar Subsection, delivered the keynote address, sharing her experiences working at GEC Kozhikode and IEEE SB GEC Kozhikode. The meeting also included felicitations by Dr. Gilesh M P, Vice Chair of IEEE Kerala Section, Dr. John George, VSAC of Travancore Hub, and Dr. Elizabeth Rita Samuel, VSAC of Kochi Hub. Finally, the meeting ended with a vote of thanks delivered by Varun K, HSR of Malabar Hub.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/bcc23.jpeg" class=" img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                            <div class="img col-10 col-md-6">
                                <img src="/assets/images/events/malabar/bcc23_gp.jpeg" class="img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->