<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/bcc.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/bcc">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">12th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub organized the first Student Branch Counselors and Chapter Advisors
                            meet on 12 February 2022 . It was held at 10:00 AM via Zoom Cloud Meetings. The
                            respective SB Counselors and Advisors from various colleges under Malabar Hub
                            participated and remarked on their presence to enrich the event. The session was
                            inaugurated by Dr. Sabiq PV, Chair, IEEE Malabar Subsection, with his inaugural
                            address and providing an overview of MSS Activities. Following him was a session by
                            Dr. Gilesh M P, Chair, Student Activities Committee, IEEE Kerala Section. He
                            discussed the SAC Activity Plan'22. He also spoke about the roles and
                            responsibilities of SB
                            Counselors and Chapter Advisors. Further, Mr. Shone Jose, Vice-chair, Student
                            Activities Committee, IEEE Kerala Section spoke about the best practices to be
                            followed concerning the IEEE Student Branch Activities. Finally ,Mr. Karthik K,
                            Membership Development Chair of IEEE Kerala Section briefed about the MD activities
                        </p>

                        <p>
                            The hub team also introduced themselves starting from Ms. Meghana N V, Student
                            Representative, Mr. Rohin Raj S B, Technical Coordinator, Mr. Ajithabh Krishna P
                            A,Electronic Communications Coordinator, Ms. Haritha M E, WiE Coordinator and
                            finally Ms. Aleena K Shibu, MD Coordinator. An experience-sharing session was also
                            held by the SB Counselors which paved the way for better interaction between them.
                            The experience sharing session included the exposure they got from the SB as well as
                            outside the SB. Many suggestions also arose during this time The event was filled
                            with an enthusiasm for developing inter-SB relationships and collaborations. The
                            session finally concluded with a photograph at 12:00 PM.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/bcc.jpeg" class=" img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                            <div class="img col-10 col-md-6">
                                <img src="/assets/images/events/malabar/bcc_gp.jpeg" class="img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->