<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/ChairsMeet.jpeg" alt="IEEE Malabar Hub Chair’s Meet 2022" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/ChairsMeet">IEEE Malabar Hub Chair’s Meet 2022</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="07-03-22">07th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub organized the Chair’s meet on 7 March 2022. It was held at 7 PM via
                            Google Meet.
                            Our new Chair’s of respective SBs and some previous chairs and the coordinators of
                            Malabar Hub participated and remarked on their presence to enrich the event.

                        </p>

                        <p>
                            The meet was started with the address of Hub VSAC, Mr.Shone Jose. The Hub activities
                            were presented by Ms.Meghana NV. Ms.Haritha ME explained vTools and our current
                            analytics. Mr. Ajithabh Krishna gave an overview of IKS Mint App and IEEE Brand
                            Guidelines. All the updates on IEEE MGA Awards were explained by Mr. Rohin Raj. Mr.
                            Basil Reji introduced the Science Week Events to all. The outline of WIE, MD Team,
                            and HAC was given by Ms.Haritha ME, Ms. Aleena K Shibu, and Ms.Ann Maria Roy
                            respectively. The SB chair’s shared their experiences and also explained their
                            respective Student Branch Event updates.
                        </p>

                        <p>
                            A small Q&A regarding general topics was also conducted. The vote of thanks was
                            delivered by Ms.Aleena K Shibu. The session finally concluded at around 8:30 PM.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/malabar/ChairsMeet_img1.jpeg" class=" img-fluid" alt="IEEE Malabar Hub Chair’s Meet 2022">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->