<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/deep_dive.jpeg" alt="Deep Dive - A panel discussion on exploring IEEE
                            opportunities" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/deep-dive.html">Deep Dive- A panel discussion on exploring IEEE
                            opportunities</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="19-02-22">19th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Malabar Hub in association with the IEEE Membership development committee of
                            the Kerala section organized the panel discussion DEEP DIVE on 19 February 2022. It
                            was held at 7:00 PM via Zoom Cloud Meetings. The session was intended to give an
                            insight into the importance of being active in IEEE, how it contributes to the
                            professional development of members and their benefits. The event kick-started with
                            a welcome note from Ms. Aleena K Shibu, Membership development coordinator, IEEE
                            Malabar Hub. Followed by that, she asked the speakers about their journey as an IEEE
                            member and their interest in renewing their membership over the years.
                        </p>

                        <p>
                            Ms.Pooja Haridas started the panel discussion by mentioning the role of IEEE in
                            skill development and how this helped in her placement interviews. Then Mr.Gokul C M
                            shared his insights about the professional connections made through IEEE
                            Volunteering and how it helped in his start-up venture. The discussion was then
                            taken over by Ms. Ananya R who explained how she moved through a male-dominated
                            industry and marked her signature in the professional field. Later the panelists
                            shared how they balanced academic development and volunteering in IEEE. Then
                            Mr.Sahil Sameer and Ms. Ananya R shared their experience in winning awards for their
                            activities in IEEE.
                        </p>

                        <p>
                            As a conclusion, the panelists shared their advice with participants to realize
                            their dreams through active volunteering. Thanking the panelists for their valuable
                            words Ms.Aleena k Shibu concluded the discussion and expressed gratitude to all the
                            delegates and attendees for their active participation.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/malabar/deepdive_img3.jpeg" class=" img-fluid" alt="DeepDive">
                            </div>
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/deepdive_img1.jpeg" class="img-fluid" alt="DeepDive">
                            </div>
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/deepdive_img2.jpeg" class="img-fluid" alt="DeepDive">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->