<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/digifemmina.jpg" alt="DigiFemmina" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/bcc">DigiFemmina</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="26-03-23">26th March 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The IEEE Malabar Hub initiated a workshop series called "DigiFemmina," which is being conducted in collaboration with WIE AGs under the Malabar Hub. The workshop was inaugurated on March 25, 2023, at 3 PM at Sauhruda Arts and Sports Club, Barooty, in collaboration with WIE AG LBSCEK. The objective of the program was to help women achieve digital freedom. The event is designed to educate and empower women, particularly those who work as Kudumbashree or cleaning staff members, on the effective utilization of digital tools such as G-Pay and online shopping. Members of the Neduvot Kudumbashree unit and Aavani Kudumbashree unit were present, and a total of about 20 people attended the workshop. The program was inaugurated by ward member Gopalakrishnan. The workshop covered various aspects of digital literacy, including computer basics, internet and online safety, social media, and online tools for productivity.

                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/digifemmina.jpg" class=" img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                            <div class="img col-10 col-md-6">
                                <img src="/assets/images/events/malabar/digifemmina_image_1.jpeg" class="img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->