<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/revamp.jpeg" alt="Revamp" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/revamp">Revamp</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-05-23">12th - 21st May 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            REVAMP was conducted in two phases - both in online (REVAMP COMPETE) and offline (REVAMP) modes. It consisted of a series of events that each of six clusters had to conduct, in order to resuscitate Student Branches that are no longer taking part actively in IEEE related programmes. Separate meetings for each cluster were also held under revamp compete, to make the SBs under the cluster get familiarised with each other through active interactions and ice breaking sessions. The clusters had to administer the events and submit a report of the same, by complying to a set of guidelines. Awards and recognitions were provided to the cluster that conducted the most number of programmes. 51 people took part in the offline session, whereas almost 120 people became a part of the online series of events. 
The offline session had talk shows, interactive sessions, fun games and much more.

                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/revamp.jpeg" class=" img-fluid" alt="Revamp">
                            </div>
                            <div class="img col-10 col-md-6">
                                <img src="/assets/images/events/malabar/revamp_image_1.jpeg" class="img-fluid" alt="Revamp">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->