<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/WiEsonaries.jpeg" alt="WiEsonaries" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/WiEsonaries.html">WiEsonaries</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="06-03-22">06th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            As part of International Women’s Day, IEEE WiE Malabar Hub, in association with WiE
                            Kerala AG conducted a JAM competition on the topic ‘The rise of women is not about
                            the fall of men.’
                        </p>
                        <h5>Winners:</h5>
                        <p>
                        <ul>
                            <li>First Prize:
                                <strong>Hridya A S - GEC Barton Hill</strong>
                            </li>
                            <li>Second Prize:
                                <strong>Varun Rajeevan - GCE Kannur</strong>
                            </li>
                            <li>Third Prize:
                                <strong>Irene Paul - GEC Wayanad</strong>
                            </li>
                        </ul>
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/malabar/WiEsonaries_img1.jpeg" class=" img-fluid"
                                    alt="WiEsonaries">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->