<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/malabar/writebot.jpeg" alt="WriteBot" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/malabar/WriteBot">WriteBot</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Malabar Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="23-06-23">23rd June, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The "WriteBot: The AI-Assisted Writing Challenge" organized by IEEE WIE Kerala Section and IEEE Malabar Hub as part of International Women in Engineering Day aimed to explore the creative potential of participants by utilizing AI as a writing tool. The competition encouraged participants to leverage AI technologies to enhance their writing skills and produce engaging, innovative, and thought-provoking written pieces.
</p><p>
The competition featured multiple categories to accommodate various writing styles and genres. Participants had the option to choose from short stories, essays/articles, or dialogues/scripts. In the short story category, participants crafted captivating narratives with a maximum word limit of 1000 words. The essays/articles category allowed participants to write informative and persuasive pieces with a maximum word limit of 2500 words, utilizing AI to gather insights and enhance their arguments. Finally, participants in the dialogues/scripts category explored the interplay between human creativity and AI assistance, showcasing their talent within a maximum word limit of 1000 words.
</p><p>
Participants were free to choose from a range of AI writing tools available, such as language models, chatbots, or text generation platforms. These tools could be used to brainstorm ideas, generate content, or receive suggestions for improvement. All entries had to be original work created by the participants, with strict adherence to the specified word count for each category. Entries were evaluated based on creativity, originality, coherence, grammar, and overall impact.
</p><p>
The submission deadline for the competition was on 23rd June 2023. The event aimed to foster creativity and highlight the potential of AI as a writing tool, empowering participants to produce remarkable written pieces.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/malabar/writebot.jpeg" class=" img-fluid" alt="Branch Counselors and Chapter Advisors Meet">
                            </div>
                            
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->