<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active"
                    style="background: url(/assets/images/bg1.jpeg);background-position: center;background-repeat: no-repeat; background-size:cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Belong Where <span>The Leaders
                                    Thrive</span></h2>
                            <!-- <p class="animate__animated animate__fadeInUp">Joy of volunteering</p>-->
                        </div>
                    </div>
                </div>

                

                <!-- Slide 2 -->
                <div class="carousel-item"
                    style="background: url(/assets/images/link1.jpg);background-position: center;background-repeat: no-repeat;background-size:cover;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">Empowering <span>Your Future</span>
                            </h2>
                            <!-- <p class="animate__animated animate__fadeInUp">Joy of volunteering</p>-->
                        </div>
                    </div>
                </div>

               
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 align-items-stretch video-box" data-aos="fade-right"
                style='background-image: url("/assets/images/link1.jpg");'>
                <a href="https://youtu.be/qfd_N8UG8Qg" class="venobox play-btn mb-4" data-vbtype="video"
                    data-autoplay="true" target="_blank" rel="noopener noreferrer"></a>
            </div>
            <div class="col-lg-6 pt-2 pt-lg-0 content mt-4">
                <div class="section-title" data-aos="fade-left">
                    <h2>About us</h2>
                    <p>Who are we</p>
                </div>
                <p class="about-para" data-aos="fade-left">
                    LINK (Local Integrated Network of Kerala IEEE Students) is an innovative concept that originated
                    in IEEE Kerala Section
                    in India, aimed at networking student branches in an effective way, thereby increasing the value
                    in IEEE Student
                    membership. LINK was formally inaugurated by past IEEE President Mr. Cleon Anderson in January
                    2005.

                    Since its inception LINK has achieved tremendous results, causing an exponential increase in
                    student branches and
                    student activities in IEEE Kerala Section over the years.

                    The model of link was adopted by IEEE Region 10 as R10 GINI (Global Integrated Network of IEEE
                    Students).
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-out">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <div class="mycount">
                        <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="4"
                            class="purecounter"></span><span>+</span>
                    </div>
                    <p><strong>Student Members</strong> </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-out">
                <div class="count-box">
                    <i class="bi bi-archive"></i>
                    <div class="mycount">
                        <span data-purecounter-start="0" data-purecounter-end="108" data-purecounter-duration="4"
                            class="purecounter"></span><span>+</span>
                    </div>
                    <p><strong>Student Branches</strong> </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-out">
                <div class="count-box">
                    <i class="bi bi-calendar2-event"></i>
                    <div class="mycount">
                        <span data-purecounter-start="0" data-purecounter-end="3000" data-purecounter-duration="4"
                            class="purecounter"></span><span>+</span>
                    </div>
                    <p><strong>Events</strong> </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-out">
                <div class="count-box">
                    <i class="bi bi-trophy"></i>
                    <div class="mycount">
                        <span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="4"
                            class="purecounter"></span><span>+</span>
                    </div>
                    <p><strong>Awards</strong> </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Student Branches</a></h4>
                    <p>There are thousands of IEEE Student Branches throughout the world and likely one near you.
                        It’s your connection to local professionals, academics and the IEEE organization at a large
                        scale.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-trophy"></i></div>
                    <h4><a href="">Funds & Awards</a></h4>
                    <p>Being an IEEE Student member has its perks. You’ll have access to funds including travel
                        grants, scholarships, awards and much more! All to support your advancement and efforts to
                        the next level.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-calendar-event"></i></div>
                    <h4><a href="">Events</a></h4>
                    <p>IEEE hosts events all year and all around the globe on topics that will surely interest you.
                        In addition, IEEE Students hosts competitions that offer the opportunity to develop
                        professionally.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-user"></i></div>
                    <h4><a href="">Mentoring Support</a></h4>
                    <p>IEEE members share their expertise with IEEE Students in the interest of the students upward
                        mobility within their chose field. Educational tools are also available to IEEE Student
                        members.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta mt-5 mb-5">
    <div class="container">

        <div class="row">
            <div class="text-center text-lg-start" data-aos="fade-down">
                <h3>“Individual commitment to a group effort—that is what makes a team work, a company work, a
                    society work, a civilisation work.”</h3>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->

<section id="clients" class="clients">
    <div class="container">

        <div class="section-title" data-aos="fade-right">
            <h2>Our Societies</h2>
            <p>Get involved with our dynamic societies</p>
        </div>
        <div>
            <p data-aos="fade-left">IEEE Society members stay technically current, network with colleagues locally
                and
                abroad, and collaborate on research and projects with leading experts all while taking advantage of
                specialized opportunities.</p>
            <p data-aos="fade-left">IEEE develops communities around particular technology challenges or
                cutting-edge
                subject areas. Their areas of coverage may be general in nature, which include multi-disciplinary
                topics
                or emerging concepts. Discover which Technical Community best matches your ​interests.</p>

        </div>
        <div class="row no-gutters clients-wrap clearfix justify-content-center" data-aos="fade-up">

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/computer.png" class="img-fluid" alt="IEEE Computer Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/robotics.png" class="img-fluid"
                        alt="IEEE robotics and Automation Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/3sum.png" class="img-fluid sm" alt="IA/IE/PELS JT. Chapter Kerala">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/pes.png" class="img-fluid big" alt="IEEE PES Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/sight.png" class="img-fluid" alt="IEEE SIGHT">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/promotion.jpeg" class="img-fluid" alt="IEEE PIE">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/comsoc.png" class="img-fluid big" alt="IEEE Communication Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/education.png" class="img-fluid" alt="IEEE Education Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/antenna.png" class="img-fluid"
                        alt="IEEE Antenna and Propogation Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/cas.png" class="img-fluid" alt="IEEE Circuits and Systems Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/emb.png" class="img-fluid"
                        alt="IEEE Engineering in Medicine and Biology Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/grss.png" class="img-fluid"
                        alt="IEEE Geoscience and Remote Sensing Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/photonics.png" class="img-fluid" alt="IEEE photonics Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/mtts.png" class="img-fluid"
                        alt="IEEE Microwave Theory and Techniques Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/signal.png" class="img-fluid" alt="IEEE Signal Processing Society">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/ssit.png" class="img-fluid"
                        alt="IEEE Society on Social Implications of Technology">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/CRFID-logo-2x-retina.png" class="img-fluid e-big"
                        alt="IEEE Council on Radio Frequency Identification">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up">
                <div class="society-logo">
                    <img src="/assets/images/Logos/ias.png" class="img-fluid" alt="IEEE Industry Applications Society">
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Societies Section -->


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio mt-4">
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>Gallery</h2>
            <p>Memorable moments</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <a href="/assets/images/Gallery/AGM 2021.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox preview-link" title="AGM 2021">
                    <div class="portfolio-img"><img src="assets/images/Gallery/AGM 2021.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                    <div class="portfolio-info">
                        <h4>AGM 2021</h4>
                        <p>Anual General Meeting 2021 - IEEE Kerala Section</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <a href="/assets/images/Gallery/LINK Team 2021.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox preview-link" title="LINK Team 2021">
                    <div class="portfolio-img"><img src="/assets/images/Gallery/LINK Team 2021.jpg" class="img-fluid"
                            alt="IEEE LINK Team 2021">
                    </div>
                    <div class="portfolio-info">
                        <h4>LINK Team 2021</h4>
                        <p>LINK Team 2021</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <a href="/assets/images/Gallery/LINK Camp 2021.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox preview-link" title="LINK Camp 2021">
                    <div class="portfolio-img"><img src="/assets/images/Gallery/LINK Camp 2021.jpg" class="img-fluid"
                            alt="LINK CAMP 2021">
                    </div>
                    <div class="portfolio-info">
                        <h4>LINK Camp 2021</h4>
                        <p>LINK Camp 2021</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= F.A.Q Section ======= -->
<!-- <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-right">
                <h2>F.A.Q</h2>
                <p>Frequently Asked Questions</p>
            </div>

            <ul class="faq-list">

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at
                        lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                            curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius
                        morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                            Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                            tincidunt dui.
                        </p>
                    </div>
                </li>

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur
                        adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                            elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                            pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                            elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus.
                        Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                            Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                            tincidunt dui.
                        </p>
                    </div>
                </li>

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec
                        nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                            ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                            bibendum est. Purus gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li data-aos="zoom-in-up">
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus
                        ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                            class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                            malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem
                            dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat
                            commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non
                            blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section>End F.A.Q Section -->