<section id="hero" class="d-flex align-items-center">
    <div class="container  hero" data-aos="fade-up">
    
      <div>
        <h2>
          AKSC'23
        </h2>
        <h3>
          All Kerala Students' Conference -2023
        </h3>
      </div>
        
    </div>
</section>