<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <h1>IEEE LINK</h1>
        <h2>IEEE Kerala Section</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <img src="/assets/images/Logos/IEEE LINK.svg" class="img-fluid hero-img" alt="IEEE LINK Logo">
    </div>
</section>