
{{> hero}}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-5 align-items-stretch video-box" data-aos="fade-right">
        <div class="col-12 col-md-10 col-lg-6">
          <div
            class="about-img row g-0 align-items-center justify-content-center"
          >
            <div class="col-6 about-img-grp">
              <div class="img" data-aos="fade-right">
                <img src="/assets/images/" alt="AKSC 2022" />
              </div>
            </div>
            <div class="col-6 about-img-grp">
              <div class="img" data-aos="fade-left" data-aos-delay="100">
                <img src="/assets/images/" alt="AKSC 2022" />
              </div>
              <div class="img" data-aos="fade-up" data-aos-delay="200">
                <img src="/assets/images/" alt="AKSC 2022" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pt-2 pt-lg-0 mt-4">
        <div class="section-title" data-aos="fade-left">

          <h2>About</h2>
          <h1>
            <span>More than<br />
              just a Congress</span>
          </h1>
        </div>

        <p class="about-para" data-aos="fade-left">
          All Kerala Student Congress is an annual flagship event of IEEE LINK,
          the vibrant student activities community of IEEE Kerala Section. The
          Congress sees an annual participation of students from across the
          length and breadth of the state. AKSC is a techno-managerial event
          that furnishes to enhance and update technical knowledge of
          undergraduate participants from all over the state.
        </p>
      </div>
    </div>

  </div>
</section>

  <!-- End About Section -->

<!-- Event Section Starts -->

<section id="focus" class="events">

  <div class="container">

    <div class="section-title" data-aos="fade-left">

      <h2>Events</h2>
      <h1>
        <span>Experience<br />
          the Extraordinary</span>
      </h1>
    </div>

    <div class="row g-4 mt-4 justify-content-center align-items-center">

      <div class="col-12 col-md-6 col-lg-4">
        <div class="focus" data-aos="fade-up">
          <div class="icon">

          </div>
          <div class="text">
            <div class="head">
              <h4>Event 1</h4>
              <h4>Event 1</h4>
              <h4>Event 1</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="focus" data-aos="fade-up">
          <div class="icon">

          </div>
          <div class="text">
            <div class="head">
              <h4>Event 1</h4>
              <h4>Event 1</h4>
              <h4>Event 1</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="focus" data-aos="fade-up">
          <div class="icon">

          </div>
          <div class="text">
            <div class="head">
              <h4>Event 1</h4>
              <h4>Event 1</h4>
              <h4>Event 1</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="focus" data-aos="fade-up">
          <div class="icon">

          </div>
          <div class="text">
            <div class="head">
              <h4>Event 1</h4>
              <h4>Event 1</h4>
              <h4>Event 1</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="focus" data-aos="fade-up">
          <div class="icon">

          </div>
          <div class="text">
            <div class="head">
              <h4>Event 1</h4>
              <h4>Event 1</h4>
              <h4>Event 1</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<!-- Events Sections Ends -->

<!-- Highlights Section -->
<section id="highlight" class="highlight">

  <div class="container">

    <div class="row justify-content-center align-items-center">

      <div class="col-12 col-md-6 col-lg-5">
        <div class="highlight-text">

          <div class="section-title" >
            {{!-- <div class="section-title" data-aos="fade-left"></div> --}}

            <h2>Highlights</h2>
            <h1>
              <span>Why<br />
                AKSC'23</span>
            </h1>
          </div>

          <p>
          {{!-- <p data-aos="fade-up" data-aos-delay="200"> --}}
            &emsp;&emsp;&emsp;Unleash your potential as you tap into the wisdom of seasoned professionals , gaining
invaluable insights and guidance for your journey. Expand your horizons with an ever-growing
repository of knowledge, empowering you to stay ahead in a fast-paced world. But that's not all
– brace yourself for an incredible network of like-minded individuals, fostering collaborations,
and opening doors you never knew existed. Experience the power of AKSC, where possibilities
are limitless!
          </p>

          <ul>
            <li >
            {{!-- <li data-aos="fade-up" data-aos-delay="200"> --}}

              Largest student Congress
              of IEEE Kerala Section
            </li>
                        <li >
            {{!-- <li data-aos="fade-up" data-aos-delay="200"> --}}
Sessions led by pioneers
              of the industry</li>
                     <li >
            {{!-- <li data-aos="fade-up" data-aos-delay="200"> --}}
ompetitions to prove
              your mettle</li>
                       <li >
            {{!-- <li data-aos="fade-up" data-aos-delay="200"> --}}
Broaden your network
              with industry experts</li>
                  <li >
            {{!-- <li data-aos="fade-up" data-aos-delay="200"> --}}
Opportunity to meet
              like-minded people</li>
          </ul>

          <!-- <div class="highlight-btn" data-aos="fade-left" data-aos-delay="800">
                            <a href="/about" class="btn-cta">
                                <span>Learn More</span>
                                <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </a>
                        </div> -->

          <div class="event-detail">
            <div class="the-detail" >
              <i class="bi bi-calendar2"></i>
              <h3>17th Semptermber, 2023</h3>
            </div>
            <div class="the-detail" >
              <i class="bi bi-geo-alt"></i>
              <h3>TKM CE Kollam</h3>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="highlight-img">
          <div class="img" data-aos="fade-left" data-aos-delay="200">
            <img src="/assets/images/AKSC2019.png" alt="AKSC 2019" />
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<!-- Ends Highlights Section -->