<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-right">
            <h2>LINK Team 2021</h2>
        </div>

        <div>
            <div class="section-title" data-aos="fade-right">
                <p>SAC / VSAC</p>
            </div>

            <div class="row align-items-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Shankar J.jpg" class="img-fluid" alt="Shankar J">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/shankarjayaraj/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/shankar_jayaraj/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shankar J</h4>
                            <span>Chair, SAC</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Josna VR.jpg" class="img-fluid" alt="Josna VR">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/gilesh-m-p-4204691b" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/josna-v-r-75aba647" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Josna VR</h4>
                            <span>VSAC - Tranvacore Hub</span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Anu George.jpg" class="img-fluid"
                                    alt="Anu George">
                            </div>
                            <div class="social">
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anu George</h4>
                            <span>VSAC - Kochi Hub</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Shone Jose.jpg" class="img-fluid"
                                    alt="Shone Jose">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/shonejose/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/s.h_o.n_e/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shone Jose</h4>
                            <span>VSAC - Malabar Hub</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>LINK</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Sreelakshmi M Rajeev.jpg" class="img-fluid"
                                    alt="Sreelakshmi M Rajeev">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/sreelakshmi-m-rajeev-01428a190" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Slakshmi-m" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/s_lakshmi.__m._" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sreelakshmi M Rajeev</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Melvin Thomas.jpg" class="img-fluid"
                                    alt="Melvin Thomas">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/melvin-thomas-dev/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/melvinthomasdev" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://twitter.com/melvinthomasdev" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/melvinthomasdev/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Melvin Thomas</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Joel John Kandathil.jpg" class="img-fluid"
                                    alt="Joel John Kandathil">
                            </div>
                            <div class="social">
                                <a href="http://linkedin.com/in/joel-jo" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="http://github.com/joeljo2104" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="http://instagram.com/_joeljo/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://twitter.com/joeljo2104" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-twitter"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Joel John Kandathil</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Anuvinda Krishnan V K.jpg" class="img-fluid"
                                    alt="Anuvinda Krishnan V K">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/anuvinda-krishnan-852b6918a/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/__.anuvinda.__/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anuvinda Krishnan V K</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Anamika Pisharody.jpg" class="img-fluid"
                                    alt="Anamika Pisharody">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/anamikapisharody" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/ANAMIKAPISHARODY" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://instagram.com/_peek.a.boo__?igshid=buo5ifv8lq3f" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anamika Pisharody</h4>
                            <span>Humanitarian Activities Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/A V S ADITYAVARDHAN.jpg" class="img-fluid"
                                    alt="A V S ADITYAVARDHAN">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/a-v-s-adityavardhan-anantabhotla-821a7718b/"
                                    target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.github.com/AVS18" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://twitter.com/AVSADITYAVARDH1" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/adityavardhanavs" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>A V S ADITYAVARDHAN</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Fida Fathima.jpg" class="img-fluid"
                                    alt="Fida Fathima">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/fida-fathima-s-2000/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Fida Fathima</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Society SRs</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Bhadra Jayakumar.jpg" class="img-fluid"
                                    alt="Bhadra Jayakumar">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/bhadra-jayakumar-934b5816b/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bhadra Jayakumar</h4>
                            <span>Computer Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Sooraj V Namboothiri.jpg" class="img-fluid"
                                    alt="Sooraj V Namboothiri">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/sooraj-v-namboothiri/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sooraj V Namboothiri</h4>
                            <span>IA/IE/PELS JT. Chapter</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Abdul Ahad.jpg" class="img-fluid"
                                    alt="Abdul Ahad">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/abdul-ahad-m/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Abdul Ahad</h4>
                            <span>Robotics and Automation Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Nishanth Benny.jpg" class="img-fluid"
                                    alt="Nishanth Benny">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nishanthbenny/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nishanth Benny</h4>
                            <span>Communications Society</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Tranvacore Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Abirami Chandramouli.jpg" class="img-fluid"
                                    alt="Abirami Chandramouli">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/abirami-chandramouli-3897361a6" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Abirami Chandramouli</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/K Thomas Mathew.jpg" class="img-fluid"
                                    alt="K Thomas Mathew">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/k-thomas-mathew/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>K Thomas Mathew</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Pranav J R.jpg" class="img-fluid"
                                    alt="Pranav J R">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/pranav-j-r-172021/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Pranav J R</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Arundhati Krishna.jpg" class="img-fluid"
                                    alt="Arundhati Krishna">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/arundhathi-krishna-70320016a/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/wide_eyedreamer/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Arundhati Krishna</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Ganga M K.jpg" class="img-fluid"
                                    alt="Ganga M K">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/gangamk/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ganga M K</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Kochi Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Arjun Sunil Kumar.jpg" class="img-fluid"
                                    alt="Arjun Sunil Kumar">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/arjun-sunil-kumar" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://twitter.com/arjunsunilkumar" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/arjunsunilkumar/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Arjun Sunil Kumar</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Alwin Sebastian.jpg" class="img-fluid"
                                    alt="Alwin Sebastian">
                            </div>
                            <div class="social">
                                <a href="http://www.linkedin.com/in/alwin-sebastian" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Alwinseb01" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://twitter.com/AlwinSe20801876" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/__alw.1.n__s3b__/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Alwin Sebastian</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Rosa Mariam John.jpg" class="img-fluid"
                                    alt="Rosa Mariam John">
                            </div>
                            <div class="social">
                                <a href="www.linkedin.com/in/rosamjohn" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/rosa.m.john" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/rosa.m.john" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rosa Mariam John</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/S Sreevidya.jpg" class="img-fluid"
                                    alt="S Sreevidya">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/sreevidya-s-102a821a0" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Vidya-5" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/vidya_sree_here?utm_medium=copy_link" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>S Sreevidya</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Irene Mariam Sajan.jpg" class="img-fluid"
                                    alt="Irene Mariam Sajan">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/irene-mariam-sajan/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Irene Mariam Sajan</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Malabar Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Anagha N.jpg" class="img-fluid" alt="Anagha N">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/anagha-n-15b948183" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="http://www.github.com/AnaghaNittoor" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="http://www.instagram.com/_anagha.nittoor_" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anagha N</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Basil Reji.jpg" class="img-fluid"
                                    alt="Basil Reji">
                            </div>
                            <div class="social">
                                <a href="https://www.basilreji.me/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/basilreji/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/basil-reji" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/_basil_reji_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Basil Reji</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Femi Shaju.jpg" class="img-fluid"
                                    alt="Femi Shaju">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/femi-shaju-450ba4195" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/FEMI1602" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="http://www.twitter.com/FemiShaju%20" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                <a href="http://www.instagram.com/_femi_mine__" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Femi Shaju</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Aarcha Varadaraj.jpg" class="img-fluid"
                                    alt="Aarcha Varadaraj">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/mwlite/in/aarcha-varadaraj-34628b181" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/aarrchiiee" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://twitter.com/aarrchiie" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/aarrchiie/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Aarcha Varadaraj</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Reema Shaji.jpg" class="img-fluid"
                                    alt="Reema Shaji">
                            </div>
                            <div class="social">
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Reema Shaji</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- End Team Section -->