<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-right">
            <h2>LINK Team 2022</h2>
        </div>

        <div>
            <div class="section-title" data-aos="fade-right">
                <p>SAC / VSAC</p>
            </div>

            <div class="row align-items-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Gilesh MP.jpg" class="img-fluid" alt="Gilesh MP">
                            </div>
                            <div class="social">
                                <a href="https://sites.google.com/a/gecwyd.ac.in/gilesh" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/gilesh-m-p-4204691b" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/gileshmp" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/gileshmp" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Gilesh MP</h4>
                            <span>Chair, SAC</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Shone Jose.jpg" class="img-fluid"
                                    alt="Shone Jose">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/shonejose/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/s.h_o.n_e/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shone Jose</h4>
                            <span>VSAC - Malabar Hub</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Elizabeth Rita Samuel.jpg" class="img-fluid"
                                    alt="Elizabeth Rita Samuel">
                            </div>
                            <div class="social">
                                <a href="http://people.rajagiritech.ac.in/elizabethrs" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/elizabeth-rita-samuel-b749907" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Elizabeth Rita Samuel</h4>
                            <span>VSAC - Kochi Hub</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Josna VR.jpg" class="img-fluid" alt="Josna VR">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/josna-v-r-75aba647" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Josna VR</h4>
                            <span>VSAC - Travancore Hub</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>LINK</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/K Thomas Mathew.jpg" class="img-fluid"
                                    alt="K Thomas Mathew">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/k-thomas-mathew/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>K Thomas Mathew</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Niveditha.jpg" class="img-fluid" alt="Niveditha PM">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/niveditha-p-m-907b8218b" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Niveditha PM</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Jachin Bency Thomas.jpg" class="img-fluid"
                                    alt="Jachin Bency Thomas">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/jachinbency/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/jachinbency" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/jachin.bency/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/__ijach.in__/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jachin Bency Thomas</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/S Sreevidya.jpg" class="img-fluid" alt="S Sreevidya">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/sreevidya-s-102a821a0" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Vidya-5" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/vidya_sree_here?utm_medium=copy_link" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>S Sreevidya</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Ann Maria Roy.jpg" class="img-fluid"
                                    alt="Ann Maria Roy">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/ann-maria-930067216" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Astromabel" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/astromabel/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ann Maria Roy</h4>
                            <span>Humanitarian Activities Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Melvin Thomas.jpg" class="img-fluid"
                                    alt="Melvin Thomas">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/melvin-thomas-dev/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/melvinthomasdev" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://twitter.com/melvinthomasdev" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.instagram.com/melvinthomasdev/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Melvin Thomas</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Basil Reji.jpg" class="img-fluid" alt="Basil Reji">
                            </div>
                            <div class="social">
                                <a href="https://www.basilreji.me/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/basilreji/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/basil-reji" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/_basil_reji_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Basil Reji</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/LINK/Surabhi Rajesh.jpg" class="img-fluid"
                                    alt="Surabhi Rajesh">
                            </div>
                            <div class="social">

                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Surabhi Rajesh</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Society SRs</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Gokul CM.jpg" class="img-fluid" alt="Gokul CM">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/gokulcm" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/gokulcm09" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/gokulcm09" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/_furious_phoenix_" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Gokul CM</h4>
                            <span>Computer Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Rakesh MR.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/rakeshravi-profile" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/rakesh_rvi" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rakesh M R</h4>
                            <span>IA/IE/PELS JT. Chapter</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Jose Ben.jpg" class="img-fluid" alt="Jose Ben">
                            </div>
                            <div class="social">
                                <a href="#" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jose Ben</h4>
                            <span>Robotics and Automation Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Rohith Manikandan KP.jpg" class="img-fluid"
                                    alt="Rohith Manikandan KP">
                            </div>
                            <div class="social">
                                <a href="#" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rohith Manikandan KP</h4>
                            <span>Communications Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Alen Sabu.jpg" class="img-fluid"
                                    alt="Alen Sabu">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/alen-sabu-8580121a1" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://instagram.com/a_l___e_n" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Alen Sabu</h4>
                            <span>Council On RFID</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Muhasin Ashiq.jpg" class="img-fluid"
                                    alt="Muhasin Ashiq">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/muhasin-ashiq-b7016b211" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/muhasin_ashique_" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Muhasin Ashiq</h4>
                            <span>Circuits And Systems Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Ayisha E A.jpg" class="img-fluid"
                                    alt="Ayisha E A">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/ayisha-navas-63322a196/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Ayisha1411" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/heir_of_dreams_ayisha_ " target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ayisha E A</h4>
                            <span>Education Society</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Govind S Warrier.jpg" class="img-fluid"
                                    alt="Govind S Warrier">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/govind-s-warrier/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/G-Robocraze" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/gs.warrier.5/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/g_swarrier/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Govind S Warrier</h4>
                            <span>Signal Processing Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Scoieties/Vaishnav S.jpg" class="img-fluid"
                                    alt="Vaishnav S">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/vaishnav-s" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/vaishnavsures" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/alpha_branthan" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Vaishnav S</h4>
                            <span>Society on Social Implications of Technology </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Malabar Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Meghana N V.jpg" class="img-fluid"
                                    alt="Meghana N V">
                            </div>
                            <div class="social">
                                <a href="https://in.linkedin.com/in/meghananv" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Meghana20" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/_meghz__/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Meghana N V</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Rohin Raj S B.jpg" class="img-fluid"
                                    alt="Rohin Raj S B">
                            </div>
                            <div class="social">
                                <a href="https://rohinraj.github.io/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/rohinraj/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/rohinraj" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/r_oh_in_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rohin Raj S B</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Ajithabh Krishna P A.jpg" class="img-fluid"
                                    alt="Ajithabh Krishna P A">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/ajithabh-krishna-33aaa5202" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/ajithabhk" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/therealaju_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ajithabh Krishna P A</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Haritha M E.jpg" class="img-fluid"
                                    alt="Haritha M E">
                            </div>
                            <div class="social">
                                <a href="http://www.linkedin.com/in/harithame" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Haritha-ME" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/__hariitha__" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Haritha M E</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Malabar/Aleena K Shibu.jpg" class="img-fluid"
                                    alt="Aleena K Shibu">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/aleena-k-shibu-a36075201" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/AleenaKShibu" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/aleena.shibu.77964" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/kochus_aleena" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Aleena K Shibu</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Kochi Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Namitha Santhosh.jpg" class="img-fluid"
                                    alt="Namitha Santhosh">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/namitha-santhosh" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://instagram.com/_catabyss_" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Namitha Santhosh</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Neha Jasmin.jpg" class="img-fluid"
                                    alt="Neha Jasmin">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/neha-jasmin-6b57a6210" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://instagram.com/nehajasminn" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Neha Jasmin</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Rosa Mariam John.jpg" class="img-fluid"
                                    alt="Rosa Mariam John">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/rosamjohn" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/rosa.m.john" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/rosa.m.john" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rosa Mariam John</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Nithya Sree R Kartha.jpg" class="img-fluid"
                                    alt="Nithya Sree R Kartha">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nithya-sree-r-kartha-3841121b4" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/nithya.sree.92372" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/nithya_sree.__" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nithya Sree R Kartha</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Kochi/Lekshmi Sharma.jpg" class="img-fluid"
                                    alt="Lekshmi Sharma">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/lekshmi-sharma" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/langDON369" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Lekshmi Sharma</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Travancore Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Hisana Thasneem.jpg" class="img-fluid"
                                    alt="Hisana Thasneem">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/hisana-thasneem" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Hisana-Thasneem" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/hisana.thachu.5" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/ayrish_sanam?r=nametag" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Hisana Thasneem</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Anoop Santosh.jpg" class="img-fluid"
                                    alt="Anoop Santosh">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/anoop-santosh-607a25194" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/anoop_san3915/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anoop Santosh</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Nithya Satheesh.jpg" class="img-fluid"
                                    alt="Nithya Satheesh">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nithya-satheesh-149b17190" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Nithya-Satheesh" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/_nithya_._satheesh_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nithya Satheesh</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Karthika Sankar U.jpg" class="img-fluid"
                                    alt="Karthika Sankar U">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/karthika-sankar" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/karthikasankar2000" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/krtkasu" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Karthika Sankar U</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/Travancore/Parvathy J S.jpg" class="img-fluid"
                                    alt="Parvathy JS">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/parvathy-j-s-323bb4202" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Parvathyjs" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/paarzzzz" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Parvathy JS</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Team Section -->