<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-right">
            <h2>LINK Team 2022</h2>
        </div>

        <div>
            <div class="section-title" data-aos="fade-right">
                <p>SAC / VSAC</p>
            </div>

            <div class="row align-items-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Gilesh MP.jpg" class="img-fluid" alt="Gilesh MP">
                            </div>
                            <div class="social">
                                <a href="https://sites.google.com/a/gecwyd.ac.in/gilesh" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/gilesh-m-p-4204691b" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.facebook.com/gileshmp" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/gileshmp" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Gilesh MP</h4>
                            <span>Chair, SAC</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Shone Jose.jpg" class="img-fluid"
                                    alt="Shone Jose">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/shonejose/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/s.h_o.n_e/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shone Jose</h4>
                            <span>VSAC - Malabar Hub</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Elizabeth Rita Samuel.jpg" class="img-fluid"
                                    alt="Elizabeth Rita Samuel">
                            </div>
                            <div class="social">
                                <a href="http://people.rajagiritech.ac.in/elizabethrs" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/elizabeth-rita-samuel-b749907" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Elizabeth Rita Samuel</h4>
                            <span>VSAC - Kochi Hub</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Josna VR.jpg" class="img-fluid" alt="Josna VR">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/josna-v-r-75aba647" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Josna VR</h4>
                            <span>VSAC - Tranvacore Hub</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Team Section -->