<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-right">
            <h2>LINK Team 2022</h2>
        </div>

        <div>
            <div class="section-title" data-aos="fade-right">
                <p>SAC / VSAC</p>
            </div>

            <div class="row align-items-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/SAC VSAC/Shone Jose_.jpg" class="img-fluid" alt="Shone Jose">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/shonejose/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/s.h_o.n_e/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shone Jose</h4>
                            <span>Chair, SAC</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/SAC VSAC/Sreeram M - VSAC, Malabar.jpg" class="img-fluid"
                                    alt="Sreeram M">
                            </div>
                            
                        </div>
                        <div class="member-info">
                            <h4>Sreeram M</h4>
                            <span>VSAC - Malabar Hub</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/SAC-VSAC/Elizabeth Rita Samuel.jpg" class="img-fluid"
                                    alt="Elizabeth Rita Samuel">
                            </div>
                            <div class="social">
                                <a href="http://people.rajagiritech.ac.in/elizabethrs" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                                <a href="https://www.linkedin.com/in/elizabeth-rita-samuel-b749907" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Elizabeth Rita Samuel</h4>
                            <span>VSAC - Kochi Hub</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/SAC VSAC/John George - VSAC, Travancore.jpg" class="img-fluid" alt="John George ">
                            </div>
                            
                        </div>
                        <div class="member-info">
                            <h4>Dr. John George</h4>
                            <span>VSAC - Travancore Hub</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>LINK</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">

                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/PARVATHY J S.JPG" class="img-fluid"
                                    alt="Parvathy J S">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/parvathyjs" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/parvathyjs" target="_blank"
                               rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://instagram.com/paarzzzz?igshid=ZDdkNTZiNTM=" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                               
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Parvathy J S</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/ANJAL MOHAMMED V.png" class="img-fluid" alt="Anjal Mohammed V">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/anjal-mohammed" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a> --}}
                                <a href="https://www.instagram.com/anjal_harison/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anjal Mohammed V</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/ASWIN JEEV JOHNY.jpg" class="img-fluid"
                                    alt="Aswin Jeev Johny">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/aswin-jeev-johny" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/theannamakid" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/aswinjeev.johny?mibextid=ZbWKwL" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/_theannamakid_?igshid=ZDdkNTZiNTM=." target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Aswin Jeev Johny</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/HRIDYA A S.jpg" class="img-fluid" alt="Hridya A S">
                            </div>
                            <div class="social">
                                <a href="https://in.linkedin.com/in/hridya-a-s-267400203" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Hridya-2607" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/hridya_.as/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Hridya A S</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/NITHIN FRANCIS.jpg" class="img-fluid"
                                    alt="Nithin Francis">
                            </div>
                            <div class="social">
                                <a href="http://www.linkedin.com/in/nithin-francis-998077219" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a> --}}
                                <a href="https://instagram.com/nithin.francis01?igshid=ZDdkNTZiNTM=" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nithin Francis</h4>
                            <span>Humanitarian Activities Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/ABHINAV UNNIKRISHNAN.jpg" class="img-fluid"
                                    alt="Abhinav Unnikrishnan">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/abhinav-unnikrishnan-ab315b1b8" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/abhinav-18max" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                {{!-- <a href="" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-twitter"></i></a> --}}
                                <a href="https://www.instagram.com/abhi18_nav/?igshid=mwdzktfivaz9" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Abhinav Unnikrishnan</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/LINK/MUHAMMED NIHAL.jpg" class="img-fluid"
                                    alt="Muhammed Nihal C">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nihal-rahoof-242053170" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/Nihal_rahoof/" 
                                    target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                

                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Muhammed Nihal C</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Society SRs</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/CHETHANA RAJ.jpg" class="img-fluid" alt="Chethana Raj">
                            </div>
                            <div class="social">
                                <a href="https://in.linkedin.com/in/chethana-raj-88a5a01b0" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/chethana-raj" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                {{!-- <a href="https://www.facebook.com/gokulcm09" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a> --}}
                                <a href="https://instagram.com/chethna_raj" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Chethana Raj</h4>
                            <span>Computer Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/ADITHYAN S. PHILIP(1).jpg" class="img-fluid" alt="Adithyan S. Philip">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/adithyansphilip" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/ADITHYANSPHILIP-bot" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/adithyansphilip/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Adithyan S. Philip</h4>
                            <span>IA/IE/PELS JT. Chapter</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/AMRITA JIJU.jpg" class="img-fluid" alt="Amrita Jiju">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/amrita-jiju" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/AmritaJiju2512" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amrita Jiju</h4>
                            <span>Robotics and Automation Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/ANNA WILSON.jpeg" class="img-fluid"
                                    alt="Anna Wilson">
                            </div>
                            <div class="social">

                                <a href="https://www.linkedin.com/in/anna-wilson-2180a6203" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://instagram.com/_.__annaa._?igshid=Zjc2ZTc4Nzk=" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anna Wilson</h4>
                            <span>Communications Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src=" /assets/images/team/2023/Student Representatives/SAM STEPHEN THOMAS.jpg" class="img-fluid"
                                    alt="Sam Stephen Thomas">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/samstphnthms/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/samstphnthms/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://github.com/Botapproved" target="_blank" 
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sam Stephen Thomas</h4>
                            <span>Council On RFID</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/JITHIN P.jpg" class="img-fluid"
                                    alt="Jithin P">
                            </div>
                            <div class="social">
                                <a href="https://in.linkedin.com/in/jithin-p-a385b4234" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/m_r_wizar_d/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/JITH1" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jithin P</h4>
                            <span>Circuits And Systems Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/AKSHAY R S.jpg" class="img-fluid"
                                    alt="Akshay R S ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/akshay-r-s-66b884202" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                
                                <a href="https://www.instagram.com/akshay_r_s_?r=nametag" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Akshay R S</h4>
                            <span>Education Society</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/NAVANEETH V NAIR.jpeg" class="img-fluid"
                                    alt="Navaneeth V Nair ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/navaneeth-v-nair-55821a201/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                
                               
                                <a href="https://www.instagram.com/n_v_n_creations_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Navaneeth V Nair</h4>
                            <span>Signal Processing Society</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/RAMKRISHNA K.jpg" class="img-fluid"
                                    alt="Ramkrishna K">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/ramkrishna-k-0b905823a" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                               
                                <a href="https://www.instagram.com/ramkrishnak3/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ramkrishna K</h4>
                            <span>Society on Social Implications of Technology </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Student Representatives/KASINATH V.jpg" class="img-fluid"
                                    alt="Kasinath V">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/kasinath-v-b09216200" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                
                                <a href="https://www.instagram.com/kashi_._v/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Kasinath V</h4>
                            <span>Promotion of Innovation and Entrepreneurship (Special Interest Group) </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Malabar Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/VARUN K.png" class="img-fluid"
                                    alt="Varun K">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/varun-suresh-b44a68202" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/varunzz" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://instagram.com/varunz_z?igshid=ZmZhODViOGI=" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Varun K</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/FARSHAN YOOSUF.jpg" class="img-fluid"
                                    alt="Farshan Yoosuf">
                            </div>
                            <div class="social">
                                
                                <a href="https://www.linkedin.com/in/farshan-yoosuf-031883247/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/Farshanyoosuf" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/farshan_yoosuf/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Farshan Yoosuf</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/LAKSHMI S NAIR.jpeg" class="img-fluid"
                                    alt="Lakshmi S Nair ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/lakshmisnair11" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                               
                                <a href="https://www.instagram.com/__.laksh.___/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Lakshmi S Nair</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/VISWANATHA KARTHA V.jpg" class="img-fluid"
                                    alt="Viswanatha Kartha V">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/viswanatha-kartha" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-linkedin"></i></a>
                
                                <a href="https://instagram.com/viswanathakarthav?igshid=ZmZhODViOGI=" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/anima-regem" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Viswanatha Kartha V</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/ALEENA K SHIBU.jpg" class="img-fluid" alt="Aleena K Shibu">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/aleena-k-shibu-a36075201" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/AleenaKShibu" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                
                                <a href="https://instagram.com/kochus_aleena" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Aleena K Shibu</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Malabar/NIKHIL DAS V.JPG" class="img-fluid"
                                    alt="Nikhil Das V ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nikhil-das-v-04400b229/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                               
                                <a href="https://www.instagram.com/__.n93__/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nikhil Das V</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
                
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Kochi Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/NEHA JASMIN.jpg" class="img-fluid"
                                    alt="Neha Jasmin">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/nehajasmin/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://instagram.com/nehajasminn?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://github.com/nehajasmin" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Neha Jasmin</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/GOURI M MENON.png" class="img-fluid"
                                    alt="Gouri M Menon">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/gouri-m-menon-3764b4202" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a> --}}
                                <a href="https://github.com/Gourimmenon" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Gouri M Menon</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/JOBIN JOSE.jpg" class="img-fluid"
                                    alt="Jobin Jose">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/jobin-jose-73b60622a" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="https://www.facebook.com/rosa.m.john" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a> --}}
                                <a href="https://instagram.com/__j.o.j.o.__?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jobin Jose</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/ALBIN SONY.jpg" class="img-fluid" alt="Albin Sony">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/albin-sony/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-linkedin"></i></a>
                                {{!-- <a href="https://www.facebook.com/rosa.m.john" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-facebook"></i></a> --}}
                                <a href="https://github.com/AlbinSony" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/albin_sony/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Albin Sony</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/HASEENA BEEGAM.H.jpg" class="img-fluid"
                                    alt="Haseena Beegam.H">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/haseena-beegam-h-a184941bb" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="https://www.facebook.com/nithya.sree.92372" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-facebook"></i></a> --}}
                                <a href="https://instagram.com/ha_seena167?igshid=ZDdkNTZiNTM=" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Haseena Beegam.H</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Kochi/ASHER THOMAS JOSE.jpg" class="img-fluid"
                                    alt="Asher Thomas Jose ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/asher-thomas-0841b6226/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/AsherThomasJose" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a>
                                <a href="https://www.instagram.com/asher_th0mas/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Asher Thomas Jose</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="section-title" data-aos="fade-right">
                <p>Travancore Hub</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/SHWETHA M.jpg" class="img-fluid"
                                    alt="Shwetha M">
                            </div>
                            <div class="social">
                                <a href="linkedin.com/in/shwetha-mercelin-376b0a228/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/SHWETHAMERCELIN" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                                
                                <a href="https://www.instagram.com/_swagg_mercelin_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shwetha M</h4>
                            <span>Student Representative</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/GOUTHAM RAJESH.jpg" class="img-fluid"
                                    alt="Goutham Rajesh">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/gouthamrajesh/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/psycho_creeper_/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/gouthamrajesh" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Goutham Rajesh</h4>
                            <span>Technical Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/PARVATHI PRIYA A K.jpg" class="img-fluid"
                                    alt="Parvathi Priya A K">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/parvathi-priya-a-k-384132201" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                               
                                <a href="https://instagram.com/_p_p_a_k_?igshid=ZDdkNTZiNTM=" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Parvathi Priya A K</h4>
                            <span>EC Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/ARJUN S.jpg" class="img-fluid"
                                    alt="Arjun S">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/arjun-s-dev/" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                
                                <a href="https://github.com/arjunindia" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Arjun S</h4>
                            <span>Webmaster</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/R. KARTHIYAYANI MENON.jpg" class="img-fluid"
                                    alt="R. Karthiyayani Menon ">
                            </div>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/karthiyayani-menon-141987228" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                               
                                <a href="https://instagram.com/__karthiyayani__?igshid=ZDdkNTZiNTM=" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>R. Karthiyayani Menon</h4>
                            <span>WiE Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <div class="img-fluid img-div">
                                <img src="/assets/images/team/2023/Travancore/MOHAMMED KAMARUDEEN.jpeg" class="img-fluid"
                                    alt="Mohammed Kamarudeen">
                            </div>
                            <div class="social">
                                <a href="http://linkedin.com/in/mohammed-kamarudeen" target="_blank"
                                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                                {{!-- <a href="https://github.com/Parvathyjs" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-github"></i></a> --}}
                                <a href="http://instagram.com/mohammed_kamarudeen_/" target="_blank" rel="noopener noreferrer"><i
                                        class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Mohammed Kamarudeen</h4>
                            <span>MD Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Team Section -->