<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/LINK/Cybosium/Reg live.jpg"
                            alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/link/cybosium">CYBOSIUM | Robotics Seasonal School </a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE RAS MACE SB</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="19-03-23">19th March, 2023</time> - <time datetime="01-05-23">1st May, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            <b>Cybosium, India's first-ever IEEE RAS Technical Education Program</b>, will be a culmination of technical and non-technical
                            events organized in collaboration with leading companies and organizations in the robotics and automation industry.
                            
                            Set to be conducted in hybrid mode across a span of 26 days, the main goal of the seasonal school is to help students
                            grow technically in the field of robotics, with a primary focus on the courses.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="https://cybosium.ieeemace.org/">Read More</a>
                    </div>

                </article><!-- End blog entry -->

               

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
    
</section><!-- End Blog Section -->