<section id="opportunities" class="opportunities py-4">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Opportunities</h2>
            <p>AKSC</p>
        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-md-8 col-lg-8">
                <article class="entry">

                    <div class="header-img">
                        <img src="/assets/images/opportunities/cfh_aksc.jpeg" alt="AKSC 2022" class="img-fluid">
                    </div>

                    <div class="entry-body">
                        <div class="title">
                            <h2>
                                Call For Host - <strong>AKSC</strong>
                            </h2>
                        </div>

                        <div class="content">
                            <p>
                                &emsp; All Kerala Student Congress is an annual flagship event of IEEE LINK,
                                the
                                vibrant student activity committee of IEEE Kerala Section. The Congress sees an annual
                                participation of 300 students from across the length and breadth of the state. AKSC is a
                                techno-managerial event that furnishes and updates technical knowledge of undergraduate
                                participants from all over the state. The event predominantly provides an
                                opportunity
                                for
                                the student community to meet highly intelligent and motivated peers, enhance their
                                skills
                                through training, competitions and gear them up to face the professional career ahead of
                                them.
                            </p>
                            <p>
                                &emsp; The fact that enlightens about AKSC is not merely the advanced sessions but also
                                the
                                unique
                                alliance of students and industry experts, who are united together to celebrate the joy
                                of
                                learning.
                            </p>
                            <h4>Overview:</h4>
                            <p>
                            <ul>
                                <li>Tentative Event Date :
                                    <strong>18, 29 and 30 October 2022</strong>
                                </li>
                                <li>
                                    <strong>Auditorium and accommodation facilities for 300 students (Girls and Boys)
                                        are mandatory.</strong>
                                </li>
                            </ul>
                            </p>
                            <p>
                            <div class="buttons row">
                                <div class="col-12 col-md-6">
                                    <a href="https://docs.google.com/document/d/1s1h9NnIID76njO_PLMmQ6DZcq3WJKX9OhWtsDq1KEKg/edit?usp=sharing"
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View the Proposal Template
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <a data-button="app-store" href="https://forms.gle/wTW4XCUAL6UmMY6TA"
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Apply Now
                                    </a>
                                </div>
                            </div>
                            </p>

                            <h5>Do apply before <strong> 10th September, 2022</strong></h5>

                        </div>
                    </div>

                    <div class="footer">
                        <a href="/opportunity"><i class="bi bi-arrow-left-short"></i> Back</a>
                    </div>

                </article>
            </div>

        </div>


    </div>
</section>