<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="timeline_area section_padding_130">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="apland-timeline-area">

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>January</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">
                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>LINK Camp 2021</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 8th & 9th January, 2022</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>February</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>BCC 2022</h4>
                                            <h6>IEEE LINK </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 12th & 13th February, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#1Day.com</h4>
                                            <h6>IEEE Travancore Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 12th February, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Panel discussion <br> by Women in STEM</h4>
                                            <h6>IEEE Kochi Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 13th February, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Deep Dive</h4>
                                            <h6>IEEE Malabar Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 19th February, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>March</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Science Week Celebrations</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 03rd March - 10th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Hub Chairs Meet</h4>
                                            <h6>IEEE Malabar Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 07th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Mystifier</h4>
                                            <h6>IEEE Travancore Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 07th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>WiEsonaries</h4>
                                            <h6>IEEE Malabar Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 08th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>INK IT</h4>
                                            <h6>IEEE Kochi Hub</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 08th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>SHE LEADS 2022</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 08th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>LINK F2F</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 13th March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex event-end">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Awareness on R10 & MGA Awards</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> March, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>April</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Wie Week Celebrations</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 3rd Week of April, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Chairs’ Meet</h4>
                                            <h6>IEEE Travancore Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> 19th April, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Collaborative events as part of Hub Connect</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 30th, April, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Initiation of Humanitarian Projects: Mask Recycling</h4>
                                            <h6>IEEE Kochi Hub </h6>
                                            <h5><i class="fa-regular fa-calendar"></i> April, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Chairs’ Meet</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> April, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>May</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>WiE Talk</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 7th May, 2022</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#2Day.com</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 11th May, 2022</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Society collaboration event</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 13th - 15th May, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Hub Wars</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> May, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>June</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>RHEA 4.0</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 15th June, 2022</h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Professional/Technical related event</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 11th-19th June, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Shark Tank</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 17th June, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Event focusing on Civil and Mech engineers</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 18th June, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#3Day.com</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 19th June, 2022</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Department specific event <br> (EEE, ME, CE )</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i>June, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>July</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#4Day.com</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 15th July, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Enroute to your career</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 15th-17th July, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Offline Technical event</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 21st July, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>August</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#5Day.com</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 29th August, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Professional Awareness program</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> August, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>September</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Hub Chairs Meet</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 04th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Teacher’s day Event</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 05th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Mentorship by YPs for final year student</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 9th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Engineer’s day event PRACHOD</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 15th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>#6Day.com</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 15th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>MD Event along with Travancore Award function</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 17th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Xtreme related event</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 23th-25th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Sessions by Young Professionals Kerala Section.</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 17th September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>AKSC</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Pre-event to IEEEXtreme 16.0</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> September, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>October</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Kochi Hub Meet</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 01st October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Beyond Glass Barriers (MSS)</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 01st October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>IEEE Day Celebrations</h4>
                                            <h6>IEEE LINK</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 04th October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>SIGHT event by Hub</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 05th October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>MHM</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 21st-23rd October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Job Fair</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Preparations for TECHMUN</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> October, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>November</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Hack Kochi</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 05th November, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Jumpstart</h4>
                                            <h6>IEEE Travancore Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 09th November, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Chairs and Counselors Meet</h4>
                                            <h6>IEEE Malabar Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 12th November, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Children’s day event</h4>
                                            <h6>IEEE Kochi Hub</h6>

                                            <h5><i class="fa-regular fa-calendar"></i> 14th November, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>TECHMUN</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> November, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="single-timeline-area">
                        <div class="timeline-date" data-aos="fade-up">
                            <p>December</p>
                        </div>
                        <div class="row">
                            <div class="row mb-5">

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>LINK Camp</h4>
                                            <h6>IEEE LINK</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> December, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left">
                                    <div class="single-timeline-content d-flex">
                                        <div class="timeline-icon"><i class="fa-solid fa-circle-dot"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h4>Publicity events along with collaborative events</h4>
                                            <h6>IEEE Travancore Hub</h6>
                                            <h5><i class="fa-regular fa-calendar"></i> December, 2022</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>