<section id="md-session-request">
    <div class="container">
        <div class="rqst">
            <form
                action="https://docs.google.com/forms/d/e/1FAIpQLScQP-HGJkviRtBsWOwPpATTmrZK6oTlU9xANKnKCNbzfDIXlw/formResponse"
                target="_self" id="bootstrapForm" method="POST">
                {{!-- <h4>MD Session Request<br><small></small></h4> --}}


                <!-- Field type: "short" id: "1288044343" -->
                <div class="form-group form-main-group">
                    <label for="1288044343">Student Branch Name</label>
                    <div class="form-group">
                        <input id="984233653" type="text" name="entry.984233653" class="form-control" required>
                    </div>
                </div>


                <div class="form-section">
                    <!-- Field type: "short" id: "1885589162" -->
                    <div class="form-group form-main-group">
                        <label for="1885589162">SB Chair Name</label>
                        <div class="form-group">
                            <input id="178261927" type="text" name="entry.178261927" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "117558638" -->
                    <div class="form-group form-main-group">
                        <label for="117558638">Phone</label>
                        <div class="form-group">
                            <input id="1071844582" type="text" name="entry.1071844582" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "1908461200" -->
                    <div class="form-group form-main-group">
                        <label for="1908461200">Email</label>
                        <div class="form-group">
                            <input id="14609632" type="text" name="entry.14609632" class="form-control" required>
                        </div>
                    </div>
                </div>


                <div class="form-section">
                    <!-- Field type: "short" id: "1566975998" -->
                    <div class="form-group form-main-group">
                        <label for="1566975998">SB Counselor&#x27;s Name</label>
                        <div class="form-group">
                            <input id="916607532" type="text" name="entry.916607532" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "1206147560" -->
                    <div class="form-group form-main-group">
                        <label for="1206147560">Phone</label>
                        <div class="form-group">
                            <input id="1118631302" type="text" name="entry.1118631302" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "short" id: "1525498054" -->
                    <div class="form-group form-main-group">
                        <label for="1525498054">Email</label>
                        <div class="form-group">
                            <input id="1804343655" type="text" name="entry.1804343655" class="form-control" required>
                        </div>
                    </div>
                </div>


                <div class="form-section">
                    <!-- Field type: "date" id: "652128908" -->
                    <div class="form-group form-main-group">
                        <label for="652128908">First Date Preference</label>
                        <div class="form-group">
                            <input type="date" min="{{date_min}}" id="209048862_date" name="entry.209048862" class="form-control" required>
                        </div>
                    </div>


                    <!-- Field type: "date" id: "572323283" -->
                    <div class="form-group form-main-group">
                        <label for="572323283">Second Date Preference</label>
                        <div class="form-group">
                            <input type="date" min="{{date_min}}" id="374175772_date" name="entry.374175772" class="form-control" required>
                        </div>
                    </div>

                    <!-- Field type: "checkboxes" id: "703923999" -->
                    <div class="form-group form-main-group">
                        <label for="703923999"></label>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="entry.1609439631" value="Agree" class="form-check-input" required>
                                    I hereby provide my consent to the organizers of the event to use the
                                    contact
                                    details provided
                                    in the form to contact me for updates regarding events conducted by the IEEE
                                    LINK Team.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="fvv" value="1">
                <input type="hidden" name="fbzx" value="-8967670457291647342">
                <!--
        CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
        This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
        Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
        We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->
                <input type="hidden" name="pageHistory" value="0">

                <div class="form-section w-100 d-flex justify-content-center align-items-center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>