<section id="opportunities" class="opportunities py-4">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Lets Collab</h2>
            <p>Opportunities</p>
        </div>

        <div class="row g-4 justify-content-center align-items-center">

            <div class="col-12 col-md-10 col-lg-4">
                <article class="entry" data-aos="fade-up">

                    <div class="header-img">
                        <img src="/assets/images/opportunities/cfh_aksc.jpeg" alt="#1Day.com" class="img-fluid">
                    </div>

                    <div class="entry-body">
                        <h3 class="title">
                            <a href="/opportunities/aksc">Call For Host - <strong>AKSC</strong></a>
                        </h3>

                        <div class="meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-stopwatch"></i><time
                                        datetime="09-02-22">10th September, 2022</time>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <p>
                                &emsp; All Kerala Student Congress is an annual flagship event of IEEE
                                LINK, the
                                vibrant student activity committee of IEEE Kerala Section. The event predominantly
                                provides an opportunity for the student community to meet highly intelligent and
                                motivated
                                peers, enhance their skills through training, competitions and gear them up to face the
                                professional career ahead of them.
                            </p>
                        </div>
                        <div class="read-more mb-4">
                            <a href="/opportunities/aksc" class="btn">Apply Now</a>
                        </div>
                    </div>

                </article>
            </div>
        </div>

    </div>
</section>