<link rel="stylesheet" href="/stylesheets/register.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<section>
  <div class="register-page">
  <div class="regcontainer">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">College</span>
            <input type="text" placeholder="College" required>
          </div>
                  <div class="input_box">
            <select name="CATEGORY" id="category">
              <span class="details">category</span>
              <option value="IEEE MEMBER">IEEE MEMBER</option>
              <option value="NON-IEEE MEMBER">NON-IEEE MEMBER</option>
              <option value="PROFESSIONAL">PROFESSIONAL</option>
        </select>
        </div>
         <div class="input-box">
            <span class="details">If IEEE MEMBER,PROVIDE MEMBERSHIP ID</span>
            <input type="text" placeholder="MEMBERSHIP ID">
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
  </div>
  </section>
  