<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/BCC.jpg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC23">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="19-03-23">19th March, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                       

                        <p>
                     IEEE Kochi Hub organised the Branch Counselors and Chapter Advisors Congress (BCC) on the 19th of March 2023. The event witnessed participation count of 23 IEEE members. The event was inaugurated by Prof. Muhammed Kasim S, Chair, IEEE Kerala Section, Dr. Biju K, Secretary, IEEE Kerala Section, Mr. Shone Jose, Student Activities Chair, IEEE Kerala Section, Dr. MV Rajesh, Chair, IEEE Kochi Subsection were the other dignitaries at the event. The event aimed to provide a platform for branch counselors and chapter advisors of various student branches across IEEE Kochi Hub to come together and discuss their experiences, best practices, and ideas for organizing and promoting IEEE activities within their respective SBs.
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->