<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/public/assets/images/events/kochi/bcc23.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">19th March 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Branch Counsellors and Chapter Advisors Congress of IEEE Kochi Hub was conducted
                            on 13th February 2022. The meeting started at 3 pm. After the initial welcome
                            address by the MC, there was a call of order where the 44 SBs under Kochi Hub was
                            called out and the Branch Counsellors or Chapter Advisors present there from the
                            respective colleges introduced themselves. After the call of order, Dr. M V Rajesh,
                            the Kochi Sub-section Chair gave the inaugural address and a briefing on Kochi
                            Sub-section.
                        </p>
                        <p>
                            It was followed by Dr. Gilesh M P, Chair, Student Activities Committee, Kerala
                            section briefly describing the planned activities of SAC for 2022. He also shared
                            the basic Student Branch guidelines and responsibilities of a Branch Counsellor. The
                            next session was taken by Dr. Elizabeth Rita Samuel, VSAC, IEEE Kochi Hub. She
                            discussed the responsibilities of a Branch Counsellor and best practices to be
                            followed in Student Branch Operations. This was followed by a Membership Development
                            session by Mr. Karthik K, Chair, Membership Development, IEEE Kerala Section. He
                            explained the methods to take an IEEE membership with special emphasis on Graduate
                            Student Membership and how Branch counsellors can help final year students to take
                            it.
                        </p>
                        <p>
                            The final segment was an Experience Sharing by a few seasoned Branch counsellors,
                            they shared their experiences and the difficulties they had to face. There was also
                            a Q&A session where Branch Counsellors from newly formed SBs cleared their queries.
                            The congress came to an end by 5:10 pm with the Vote of thanks by Dr. Elizabeth Rita
                            Samuel. The congress was attended by Branch Counsellors and Chapter advisors from
                            more than 20 student branches.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/kochi/BCC'22.jpg" class=" img-fluid" alt="Branch Counselors and Chapter Advisors Meet 2022">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->