<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/empower_img1.jpeg" alt="EMPOWER" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Empower">EMPOWER</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Empower was an inspiring panel discussion conducted by IEEE Kochi Hub in
                            Collaboration with Women in Engineering where eminent women in STEM came together to
                            discuss their inspiring journey and the knowledge they gained over the years. The
                            event was organized on an online platform via Zoom on the 13th of February 2022, 7
                            PM IST. The speakers of the event were Dr Darshana Joshi (The founder and CEO of
                            Vigyanshaala international), Ms Khushi Goel (Co-founder of STEMM Factor), Ms
                            Arundhathi Krishna (IEEE Kerala Section outstanding student volunteer, Women in
                            Engineering 2021), Ms Vamika P (PhD and Research Affairs Secretary at IIT, Madras,
                            Young innovator and best teacher under 30).
                        </p>
                        <p>
                            The event commenced at 7:00 PM with an official welcome address by the moderator of
                            the event Ms Nithya Sree R Kartha (WiE Coordinator, Kochi Hub, IEEE WiE Kerala
                            section). The event saw an inspiring discussion between the panellists focusing on
                            STEM and the challenging pathways they went through to achieve what they are now.
                            The session was followed by a QnA session where the participants were actively
                            interacting with the panellists. The event ended with an official Vote of Thanks
                            delivered by the moderator Ms Nithya Sree. The event saw the participation of 128
                            students from various colleges.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-5">
                                <img src="/assets/images/events/kochi/empower.jpeg" class=" img-fluid" alt="EMPOWER">
                            </div>
                            <div class="img col-10 col-md-6">
                                <img src="/assets/images/events/kochi/EMPOWER.png" class=" img-fluid" alt="EMPOWER">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->