<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/Envigor.jpg" alt="print-xyz" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/ESI">ENVIGOR SSBR INITIATIVE</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="21-05-23">21st May, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                       

                        <p>
                     Envigor was a one-of-a-kind initiative under the IEEE R10 SAC Section Student Branch Revival Fund 2023, was conducted by IEEE Kochi Hub and IEEE Kerala Section.34 IEEE members in total participated in the event, which was held on May 21, 2023, in person. The event was inaugurated by Mr CM Varughese, Chair, IEEE EdSoc Kerala Chapter and we have Mr Shone Jose, SAC Chair, IEEE Kerala Section, Dr. Elizabeth Rita Samuel, SAC Vice chair, IEEE Kerala Section, Prof. Jithin K Jose, Vice Chair, Membership Development Committee, IEEE Kerala Section, Mr Feny Roy, IEEE Kerala Section YP, Mr Govindaraman S, IEEE Kerala Section YP as the guests of the event. The event's primary objective was to give awareness of IEEE to dormant and inactive student branches in the Section, thus enhancing the value of the community.
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->