<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/inkit.jpeg" alt="INK IT" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/inkit.html">INK IT</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="03-03-22">03rd March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi hub, in collaboration with IEEE WiE AG Kerala Section, conducted an
                            Online Article Writing Competition 'INK IT' as part of International Women's Day
                            2022 exclusively for IEEE Members. The topic for the competition was ' Is the cyber
                            world unsafe for women? '. The competition was conducted via google forms in which
                            the participants were requested to submit their entries.
                        </p>
                        <p>
                            The event saw some exciting entries and the winners were provided with Achievement
                            certificates. The event was conducted online via google forms. The participants were
                            provided with a duration of 5 days to submit their entries until 08/03/2022 from
                            03/03/2022. The main objective of the event was met, which was to provide a platform
                            for the students to showcase their creative skills, help them to enhance their
                            skills and share their ideas and thoughts on the topic.
                        </p>

                        <h5>Winners:</h5>
                        <p>
                        <ul>
                            <li>First Prize:
                                <strong>K Muhammed Rafeeque
                                    - AWH Engineering College
                                </strong>
                            </li>
                            <li>Second Prize:
                                <strong>Abhishek Pawar
                                    - Marathwada Mitramandal's College
                                </strong>
                            </li>
                            <li>Third Prize:
                                <strong>Surabhi Rajesh
                                    - NSS College of Engineering
                                </strong>
                            </li>
                        </ul>
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/kochi/inkit_winners.jpeg" class=" img-fluid" alt="Winners - INK IT">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->