<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/print-xyz.jpg" alt="print-xyz" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/print-xyz">print-xyz</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="22-06-23">22nd June, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Print.xyz was a coding competition conducted in association with International Women in Engineering Day on 22th June in an online mode. The event was conducted in collaboration with IEEE Women in Engineering Affinity Group, Kerala Section. The programme was organized so as to convey genuine appreciation towards the women power in the field of engineering and witnessed a participation count of 34 participants of which 28 were IEEE Members. The event primarily aimed to foster the coding skills in students and display their remarkable expertise in programming.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/print-xyz">Read More</a>
                    </div>

                </article><!-- End blog entry -->


                  <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/Envigor.jpg" alt="ENVIGOR SSBR INITIATIVE" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/ESI">ENVIGOR SSBR INITIATIVE</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="21-05-23">21st May, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                           Envigor was a one-of-a-kind initiative under the IEEE R10 SAC Section Student Branch Revival Fund 2023, was conducted by IEEE Kochi Hub and IEEE Kerala Section.34 IEEE members in total participated in the event, which was held on May 21, 2023, in person. The event was inaugurated by Mr CM Varughese, Chair, IEEE EdSoc Kerala Chapter and we have Mr Shone Jose, SAC Chair, IEEE Kerala Section, Dr. Elizabeth Rita Samuel, SAC Vice chair, IEEE Kerala Section, Prof. Jithin K Jose, Vice Chair, Membership Development Committee, IEEE Kerala Section, Mr Feny Roy, IEEE Kerala Section YP, Mr Govindaraman S, IEEE Kerala Section YP as the guests of the event. The event's primary objective was to give awareness of IEEE to dormant and inactive student branches in the Section, thus enhancing the value of the community.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/ESI">Read More</a>
                    </div>

                </article><!-- End blog entry -->
                                  <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/BCC.jpg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC23">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="19-03-23">19th March, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                           IEEE Kochi Hub organised the Branch Counselors and Chapter Advisors Congress (BCC) on the 19th of March 2023. The event witnessed participation count of 23 IEEE members. The event was inaugurated by Prof. Muhammed Kasim S, Chair, IEEE Kerala Section, Dr. Biju K, Secretary, IEEE Kerala Section, Mr. Shone Jose, Student Activities Chair, IEEE Kerala Section, Dr. MV Rajesh, Chair, IEEE Kochi Subsection were the other dignitaries at the event. The event aimed to provide a platform for branch counselors and chapter advisors of various student branches across IEEE Kochi Hub to come together and discuss their experiences, best practices, and ideas for organizing and promoting IEEE activities within their respective SBs.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/BCC23">Read More</a>
                    </div>

                </article><!-- End blog entry -->


    

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/bcc.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Branch Counsellors and Chapter Advisors Congress of IEEE Kochi Hub was conducted
                            on 13th February 2022. The meeting started at 3 pm. After the initial welcome
                            address by the MC, there was a call of order where the 44 SBs under Kochi Hub was
                            called out and the Branch Counsellors or Chapter Advisors present there from the
                            respective colleges introduced themselves. After the call of order, Dr. M V Rajesh,
                            the Kochi Sub-section Chair gave the inaugural address and a briefing on Kochi
                            Sub-section.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/empower_img1.jpeg" alt="EMPOWER" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Empower">EMPOWER</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Empower was an inspiring panel discussion conducted by IEEE Kochi Hub in
                            Collaboration with Women in Engineering where eminent women in STEM came together to
                            discuss about their inspirit journey and knowledge they gained over the years. The
                            event was organized on an online platform via WebEx at 13th of February 2022, 7 PM
                            IST.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/Empower">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/inkit.jpeg" alt="INK IT" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/InkIt">INK IT</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="03-03-22">03rd March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi hub, in collaboration with IEEE WiE AG Kerala Section, conducted an
                            Online Article Writing Competition 'INK IT' as part of International Women's Day
                            2022 exclusively for IEEE Members. The topic for the competition was ' Is the cyber
                            world unsafe for women? '. The competition was conducted via google forms in which
                            the participants were requested to submit their entries. The event saw some exciting
                            entries and the winners were provided with Achievement certificates.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/InkIt">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/qupiz.jpeg" alt="QUPIZ" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Qupiz">QUPIZ</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-03-22">13th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi Hub in collaboration with IEEE Kochi Subsection organized a quiz
                            competition to celebrate International Pi day. The event was organized on 13th March
                            2022 through the online platform Kahoot.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/Qupiz">Read More</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->