<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/bcc.jpeg" alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/BCC">Branch Counselors and Chapter Advisors Meet</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Branch Counsellors and Chapter Advisors Congress of IEEE Kochi Hub was conducted
                            on 13th February 2022. The meeting started at 3 pm. After the initial welcome
                            address by the MC, there was a call of order where the 44 SBs under Kochi Hub was
                            called out and the Branch Counsellors or Chapter Advisors present there from the
                            respective colleges introduced themselves. After the call of order, Dr. M V Rajesh,
                            the Kochi Sub-section Chair gave the inaugural address and a briefing on Kochi
                            Sub-section.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/empower_img1.jpeg" alt="EMPOWER" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Empower">EMPOWER</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-02-22">13th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Empower was an inspiring panel discussion conducted by IEEE Kochi Hub in
                            Collaboration with Women in Engineering where eminent women in STEM came together to
                            discuss about their inspirit journey and knowledge they gained over the years. The
                            event was organized on an online platform via WebEx at 13th of February 2022, 7 PM
                            IST.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/Empower">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/inkit.jpeg" alt="INK IT" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/InkIt">INK IT</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="03-03-22">03rd March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi hub, in collaboration with IEEE WiE AG Kerala Section, conducted an
                            Online Article Writing Competition 'INK IT' as part of International Women's Day
                            2022 exclusively for IEEE Members. The topic for the competition was ' Is the cyber
                            world unsafe for women? '. The competition was conducted via google forms in which
                            the participants were requested to submit their entries. The event saw some exciting
                            entries and the winners were provided with Achievement certificates.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/InkIt">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/qupiz.jpeg" alt="QUPIZ" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Qupiz">QUPIZ</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-03-22">13th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi Hub in collaboration with IEEE Kochi Subsection organized a quiz
                            competition to celebrate International Pi day. The event was organized on 13th March
                            2022 through the online platform Kahoot.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/kochi/Qupiz">Read More</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->