<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/print-xyz.jpg" alt="print-xyz" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/print-xyz">print-xyz</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="22-06-23">22nd June, 2023</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                       

                        <p>
                      Print.xyz was a coding competition conducted in association with International Women in Engineering Day on 22th June in an online mode. The event was conducted in collaboration with IEEE Women in Engineering Affinity Group, Kerala Section. The programme was organized so as to convey genuine appreciation towards the women power in the field of engineering and witnessed a participation count of 34 participants of which 28 were IEEE Members. The event primarily aimed to foster the coding skills in students and display their remarkable expertise in programming.
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->