<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/kochi/qupiz.jpeg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/kochi/Qupiz">Qupiz</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Kochi Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="13-03-22">13th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            IEEE Kochi Hub in collaboration with IEEE Kochi Subsection organized a quiz
                            competition to celebrate International Pi day. The event was organized on 13th March
                            2022 through the online platform Kahoot.
                        </p>
                        <p>
                            The quiz was conducted in 2 stages with a preliminary round held on Kahoot and 2
                            winners from this round were selected for the final interactive round held on Zoom.
                            The top 2 were selected as winners and awarded with cash prizes worth 3K.
                        </p>

                        <h5>Winners:</h5>
                        <p>
                        <ul>
                            <li>First Prize:
                                <strong>Anupama Vidyasagar
                                    - Federal Institute of Science and Technology
                                </strong>
                            </li>
                            <li>Second Prize:
                                <strong>R Ashwin
                                    - College of Engineering Chengannur
                                </strong>
                            </li>
                        </ul>
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/kochi/qupiz_winners.jpeg" class=" img-fluid" alt="">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->