<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/1daycom.jpeg" alt="#1day.com" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        #1Day.com
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="09-02-22">09th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            #1Day.com was a movie rescripting competition conducted by IEEE Travancore Hub as a
                            part of World Movie Day. The event aimed at testing the writing and the imagination
                            skills of the participants. The participants were given a list of 10 science fiction
                            movies. They were to select any one of the movies and rescript the storyline
                            according to their imagination and submit their entries via google form.
                        </p>
                        <p>
                            The event had a positive impact on the participants. They were able to extend their
                            imagination and writing skills and made good use of it. The participants gave
                            wonderful feedback after the event.
                        </p>
                        <h5>Winners:</h5>
                        <p>
                        <ul>
                            <li>First Prize:
                                <strong>Greeshma Sreekumar (GEC Barton Hill)</strong>
                            </li>
                            <li>Second Prize:
                                <strong>Govind A (Sree Chitra Thirunal College of Engineering)</strong>
                            </li>
                            <li>Third Prize:
                                <strong>Nandakishore M J (M Dasan Institute of Technology, Kozhikode)</strong>
                            </li>
                        </ul>
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/travancore/1daycom_img1.jpeg" class=" img-fluid"
                                    alt="#1Day.com">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Single Section -->