<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/bcc1.jpeg" alt="Branch Counselors and Chapter Advisors Meet 2022" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Branch Counselors and Chapter Advisors Meet 2022
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">12th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Travancore Hub Branch Counselors and Chapter Advisors Meet was conducted on 12th
                            February, 2022 from 3:00 - 05:00 PM via Zoom Cloud Meeting. The meetup aims at
                            bringing together all the counselors and advisors under the hub and providing them
                            with a platform to share ideas and events being carried out in their respective
                            institutes.
                        </p>
                        <p>
                            The official meeting started off with the IEEE Code of Ethics delivered by Ms.
                            Hisana Thasneem. Next a call for order was conducted for all the Section ExCom
                            members and for the various attendees by Ms. Josna VR (VSAC: Travancore Hub, Student
                            Activities Committee, IEEE Kerala Section). The meeting was officially inaugurated
                            by Ms. Mini Ulanat (Chair, IEEE Kerala Section). She also presented an overview of
                            the Kerala Section and its activities. The Section Leadership was also formally
                            introduced.
                        </p>
                        <p>
                            Each member of the Section Leadership spoke a few words and addressed the gathering.
                            Next, Dr.Gilesh M P (Chair, Student Activities Committee, IEEE Kerala Section)
                            talked about the IEEE Student Branch Operations and the best practices being
                            followed through Student Activities. Ms. Josna VR talked about the Roles and
                            Responsibilities to be carried out by the various Student Branch Counselors and
                            Chapter Advisors. Next session was handled by Mr. Karthik K(Chair, Membership
                            Development IEEE Kerala Section) who shared the various membership development plans
                            and the events that could be followed by student branches. Then, the meeting was
                            open to all the attendees to share their thoughts and experiences and to clear any
                            kind of doubts they had. A formal vote of thanks was delivered by Ms. Josna VR.
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/travancore/bcc1_img1.jpeg" class=" img-fluid" alt="">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->