<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/mystifier.jpeg" alt="Mystifier" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Mystifier
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="07-03-22">07th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            On behalf of International women’s Day, IEEE WIE travancore hub in association with
                            WIE Kerala AG conducted a crossword puzzle competition on the topic Women in
                            Technology on 7th March 2022.
                        </p>
                        <p>
                            The registration of the event started on 2nd march and around 150 participants
                            registered. The registered participants were added to a whatsapp group. On 7th
                            March, the link of the puzzle and the form to submit were given to the
                            participants.The time limit of the event was half an hour,extra 5 min were provided
                            for the participants to submit the form. At 8:35, the form was closed, and among 118
                            responses, the winners were selected according to the criteria.
                        </p>

                        <h5>Winners:</h5>
                        <p>
                        <ul>
                            <li>First Prize:
                                <strong>Mariyam Emamudeenc - Amal Jyothi College of Engineering</strong>
                            </li>
                            <li>Second Prize:
                                <strong>Wren Oswin - Sree Chitra Thirunal College of Engineering</strong>
                            </li>
                            <li>Third Prize:
                                <strong>Athulya Anilkumar - Amal Jyothi College of Engineering</strong>
                            </li>
                        </ul>
                        </p>

                        <p>
                        <div class="img-cls row justify-content-center">
                            <div class="img col-10 col-md-8">
                                <img src="/assets/images/events/travancore/mystifier_img1.jpeg" class=" img-fluid"
                                    alt="Mystifier">
                            </div>
                        </div>
                        </p>

                    </div>

                    <div class="entry-footer">
                        <a href="/events"><i class="bi bi-arrow-left-short"></i> Back to events</a>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->