<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-lg-8 entries">

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/1daycom.jpeg" alt="#1Day.com" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="/events/travancore/1day">#1Day.com</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="09-02-22">09th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            #1Day.com was a movie rescripting competition conducted by IEEE Travancore Hub as a
                            part of World Movie Day. The event aimed at testing the writing and the imagination
                            skills of the participants.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/1day">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/bcc1.jpeg"
                            alt="Branch Counselors and Chapter Advisors Meet" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Branch Counselors and Chapter Advisors Meet
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="12-02-22">12th February, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            The Travancore Hub Branch Counselors and Chapter Advisors Meet was conducted on 12th
                            February, 2022 from 3:00 - 05:00 PM via Zoom Cloud Meeting. The meetup aims at
                            bringing together all the counselors and advisors under the hub and providing them
                            with a platform to share ideas and events being carried out in their respective
                            institutes.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/BCC">Read More</a>
                    </div>

                </article><!-- End blog entry -->

                <article class="entry" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/assets/images/events/travancore/mystifier.jpeg" alt="Mystifier" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Mystifier
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">IEEE
                                    Travancore Hub</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="#"><time
                                        datetime="07-03-22">07th March, 2022</time></a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            On behalf of International women’s Day, IEEE WIE travancore hub in association with
                            WIE Kerala AG conducted a crossword puzzle competition on the topic Women in
                            Technology on 7th March 2022.
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/events/travancore/mystifier">Read More</a>
                    </div>

                </article><!-- End blog entry -->
                {{>events/Thubevents}}
                
            </div><!-- End blog entries list -->

            {{>sidebar}}

        </div>

    </div>
</section><!-- End Blog Section -->